@charset "UTF-8";
/*
  HERO BANNER
*/
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Medium-Italic.otf");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Demi-Italic.otf");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Light-Italic.otf");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Bold-Italic.otf");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Black-Italic.otf");
  font-weight: 800;
  font-style: italic; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Demi.otf");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Medium.otf");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Bold.otf");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: Aspira2;
  src: url("fonts/Aspira-Italic-2.otf");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Italic.otf");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Regular.otf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Light.otf");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Heavy.otf");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Black.otf");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Thin.otf");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Thin-Italic.otf");
  font-weight: 200;
  font-style: italic; }
@font-face {
  font-family: Prototype;
  src: url("fonts/Prototype.ttf");
  font-weight: 400;
  font-style: normal; }
.f-navbar {
  z-index: 9999;
  position: fixed !important;
  left: 0;
  top: 0;
  width: 100%; }

.navbar {
  display: block;
  background: #000;
  position: relative; }

.navbar a {
  font-family: Aspira;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none; }

/*versi├│n de escritorio*/
.menu {
  display: block;
  text-align: right;
  margin: 0 7% 0 10%; }

.menu li {
  display: inline-block;
  position: relative;
  z-index: 100; }

.menu li a {
  font-weight: 200;
  text-decoration: none;
  padding: 11px;
  display: block;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

.menu li a:hover,
.menu li:hover > a {
  color: #ffffff;
  background: #686868; }

/*Ocultar nivel 2 (submenu)*/
.menu ul {
  display: none;
  margin: 0;
  padding: 0;
  width: 250px;
  position: absolute;
  top: 43px;
  left: 0;
  background: #ffffff; }

/* Mostrar segundo nivel */
.menu li:hover > ul {
  display: block; }

.menu ul li {
  display: block;
  float: none;
  background: none;
  margin: 0;
  padding: 0; }

.menu ul li a {
  font-size: 12px;
  font-weight: normal;
  display: block;
  color: #797979;
  border-left: 3px solid #ffffff;
  background: #ffffff; }

.menu ul li a:hover,
.menu ul li:hover > a {
  background: #f0f0f0;
  border-left: 3px solid #9CA3DA;
  color: #797979; }

/*Nivel 3 igual que el 2, solo cambia posicion*/
.menu ul ul {
  left: 251px;
  top: 0; }

/*Mobile*/
.mobile-menu {
  display: none;
  width: 100%;
  padding: 11px;
  background: #000;
  color: #ffffff;
  text-transform: uppercase;
  box-sizing: border-box;
  font-weight: 600; }

.mobile-menu:hover {
  background: #000;
  color: #ffffff;
  text-decoration: none; }

@media (max-width: 768px) {
  .element {
    display: none;
    top: 0;
    height: 250px;
    overflow: scroll; }

  .navbar ul.menu object {
    display: none; }

  .menu {
    display: none; }

  .mobile-menu {
    display: block;
    text-align: right;
    /*margin-top: 100px;*/ }

  .mobile-menu a {
    font-family: Aspira;
    font-weight: 200;
    font-style: italic;
    text-transform: uppercase;
    text-decoration: none; }

  .navbar {
    margin: 0;
    background: none; }

  .menu li {
    display: block;
    margin: 0; }

  .menu li a {
    background: #ffffff;
    color: #797979;
    border-top: 1px solid #e0e0e0;
    border-left: 3px solid #ffffff; }

  .menu li a:hover,
  .menu li:hover > a {
    background: #f0f0f0;
    color: #797979;
    border-left: 3px solid #686868; }

  /*level 2 and 3 - make same width as all items*/
  .menu ul {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%; }

  .menu ul ul {
    left: 0; } }
/*end media queries*/
nav.navbar .menu_logo {
  position: absolute;
  float: left;
  margin: 0;
  width: 14%;
  max-width: 153px;
  top: -1px; }

/*Hero banner con el video*/
.hero {
  width: 100%;
  position: relative;
  float: none; }
  .hero video {
    width: 100%;
    margin: auto;
    opacity: 80%;
    display: block; }
  .hero object {
    width: 40%;
    max-width: 440px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); }
  .hero .color {
    background: #585858;
    position: absolute;
    top: 0;
    float: left;
    opacity: 0.5;
    width: 100%;
    height: 100%; }

.circulo,
.imagen {
  float: left; }

.circulo {
  width: 100%;
  padding: 10px;
  float: none;
  background: #1c4499;
  box-sizing: border-box; }
  .circulo .info {
    box-sizing: border-box;
    color: white;
    padding: 10px;
    font-family: Aspira;
    font-size: 1rem;
    font-weight: 200;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1150px;
    text-align: center; }

svg.circle_shape .st0 {
  fill: #686868; }
svg.circle_shape .st1 {
  fill: #1c4499; }

svg.logo_principal .st0 {
  fill: white; }

svg.nuestra_mision .st0 {
  fill: white; }

svg.piramide {
  /*aca iban las clases*/ }
  svg.piramide .st0,
  svg.piramide .st0_1,
  svg.piramide .st0_2,
  svg.piramide .st0_3 {
    fill: none;
    stroke: #1C4499;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10; }
  svg.piramide .st0 {
    opacity: 0;
    animation-name: fadeHorizontal;
    animation-duration: 1s;
    animation-delay: 0.0s;
    animation-fill-mode: forwards; }
  svg.piramide .st0_1 {
    opacity: 0;
    animation-name: fadeHorizontal;
    animation-duration: 1s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards; }
  svg.piramide .st0_2 {
    opacity: 0;
    animation-name: fadeHorizontal;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards; }
  svg.piramide .st0_3 {
    opacity: 0;
    animation-name: fadeHorizontalInv;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards; }
  svg.piramide .st1,
  svg.piramide .st1_2,
  svg.piramide .st1_3,
  svg.piramide .st1_4 {
    fill: none;
    stroke: #1C4499;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10; }
  svg.piramide .st1 {
    opacity: 0;
    animation-name: fadeVertical;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards; }
  svg.piramide .st1_2 {
    opacity: 0;
    animation-name: fadeVertical;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards; }
  svg.piramide .st1_3 {
    opacity: 0;
    animation-name: fadeVertical;
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards; }
  svg.piramide .st1_4 {
    opacity: 0;
    animation-name: fadeVertical;
    animation-duration: 1s;
    animation-delay: 0.7s;
    animation-fill-mode: forwards; }
  svg.piramide .st2_0,
  svg.piramide .st2_1,
  svg.piramide .st2_2,
  svg.piramide .st2_3,
  svg.piramide .st2_4,
  svg.piramide .st2_5,
  svg.piramide .st2_6,
  svg.piramide .st2_7 {
    fill: #686868;
    opacity: 0; }
  svg.piramide .st2_0 {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards; }
  svg.piramide .st2_1 {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-delay: 4.5s;
    animation-fill-mode: forwards; }
  svg.piramide .st2_2 {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-delay: 5.5s;
    animation-fill-mode: forwards; }
  svg.piramide .st2_3 {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-delay: 6.5s;
    animation-fill-mode: forwards; }
  svg.piramide .st2_4 {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-delay: 7.5s;
    animation-fill-mode: forwards; }
  svg.piramide .st2_5 {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-delay: 8.5s;
    animation-fill-mode: forwards; }
  svg.piramide .st2_6 {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-delay: 9.5s;
    animation-fill-mode: forwards; }
  svg.piramide .st2_7 {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-delay: 10.5s;
    animation-fill-mode: forwards; }
  svg.piramide .st3 {
    fill: none;
    stroke: #686868;
    stroke-miterlimit: 10;
    /*opacity: 0;
    animation-name: fadeHorizontal;
    animation-duration: 2s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;*/ }
  svg.piramide .st4 {
    font-family: 'Aspira';
    font-weight: 600;
    opacity: 0; }
  svg.piramide .st5 {
    font-size: 9px; }
  svg.piramide .st6 {
    font-family: 'Aspira';
    font-weight: 200;
    opacity: 0; }

svg.valores .st0,
svg.valores .st1,
svg.valores .st2,
svg.valores .st3,
svg.valores .st4,
svg.valores .st5,
svg.valores .st6 {
  display: none; }
  @media screen and (min-width: 768px) {
    svg.valores .st0,
    svg.valores .st1,
    svg.valores .st2,
    svg.valores .st3,
    svg.valores .st4,
    svg.valores .st5,
    svg.valores .st6 {
      display: block; } }
svg.valores .st0 {
  fill: #6F6B6A;
  opacity: 0; }
svg.valores .st1 {
  fill: none;
  stroke: #6F6B6A;
  stroke-miterlimit: 10; }
svg.valores .st2 {
  fill: none; }
svg.valores .st3 {
  font-family: 'Aspira';
  font-weight: 200; }
svg.valores .st4 {
  font-size: 0.95rem;
  opacity: 0; }
svg.valores .st5 {
  font-family: 'Aspira';
  font-weight: 700;
  opacity: 0; }
svg.valores .st6 {
  fill: #12100C;
  opacity: 0; }

svg.navegacion_logo .st0 {
  fill: #FFFFFF; }
svg.navegacion_logo .st1 {
  fill: #211E1B; }
svg.navegacion_logo .st2 {
  fill: #453B36; }
svg.navegacion_logo .st3 {
  fill-rule: evenodd;
  clip-rule: evenodd; }

.animacion .orden1 {
  animation-name: fade;
  animation-duration: 1.5s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards; }
.animacion .orden2 {
  animation-name: fade;
  animation-duration: 1.5s;
  animation-delay: 3.5s;
  animation-fill-mode: forwards; }
.animacion .orden3 {
  animation-name: fade;
  animation-duration: 1s;
  animation-delay: 4.5s;
  animation-fill-mode: forwards; }
.animacion .orden4 {
  animation-name: fade;
  animation-duration: 1s;
  animation-delay: 5.5s;
  animation-fill-mode: forwards; }
.animacion .orden5 {
  animation-name: fade;
  animation-duration: 1s;
  animation-delay: 6.5s;
  animation-fill-mode: forwards; }
.animacion .orden6 {
  animation-name: fade;
  animation-duration: 1s;
  animation-delay: 7.5s;
  animation-fill-mode: forwards; }
.animacion .orden7 {
  animation-name: fade;
  animation-duration: 1s;
  animation-delay: 8.5s;
  animation-fill-mode: forwards; }
.animacion .orden8 {
  animation-name: fade;
  animation-duration: 1s;
  animation-delay: 9.5s;
  animation-fill-mode: forwards; }

svg.grafico_modelos .st0 {
  font-family: 'Aspira';
  font-weight: 200;
  font-style: italic; }
svg.grafico_modelos .st1 {
  font-size: 44.6317px; }
svg.grafico_modelos .st2 {
  font-family: 'Aspira';
  font-weight: 700; }
svg.grafico_modelos .st3 {
  font-family: 'Aspira';
  font-weight: 200; }
svg.grafico_modelos .st4 {
  font-size: 11.3px; }
svg.grafico_modelos .st5 {
  fill: #EBEBEB;
  stroke: #020202;
  stroke-miterlimit: 10; }
svg.grafico_modelos .st6 {
  font-size: 12px; }
svg.grafico_modelos .st7 {
  fill: #F7F9F8; }
svg.grafico_modelos .st8 {
  fill: #B7BFC7; }
svg.grafico_modelos .st9 {
  fill: #DCE4E8; }
svg.grafico_modelos .st10 {
  opacity: 0.75;
  fill: #005CFF; }
svg.grafico_modelos .st11 {
  fill: #2D2D2D; }
svg.grafico_modelos .st12 {
  fill: #464E5C; }
svg.grafico_modelos .st13 {
  fill: #1D4498; }
svg.grafico_modelos .st14 {
  opacity: 0.3;
  fill: #DCE4E8; }
svg.grafico_modelos .st15 {
  opacity: 0.3;
  fill: #B7BFC7; }
svg.grafico_modelos .st16 {
  fill: #163A7A; }

svg.grafico_franquicia .st0 {
  font-family: 'Aspira';
  font-weight: 200;
  font-style: italic; }
svg.grafico_franquicia .st1 {
  font-size: 44.6317px; }
svg.grafico_franquicia .st2 {
  font-family: 'Aspira';
  font-weight: 700; }
svg.grafico_franquicia .st3 {
  font-family: 'Aspira';
  font-weight: 200; }
svg.grafico_franquicia .st4 {
  font-size: 28.3696px; }
svg.grafico_franquicia .st5 {
  fill: none;
  stroke: #000000;
  stroke-miterlimit: 10; }
svg.grafico_franquicia .st6 {
  font-size: 11.3px; }
svg.grafico_franquicia .st7 {
  filter: url(#Adobe_OpacityMaskFilter); }
svg.grafico_franquicia .st8 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-miterlimit: 10; }
svg.grafico_franquicia .st9 {
  mask: url("#SVGID_1_"); }
svg.grafico_franquicia .st10 {
  opacity: 0.2; }
svg.grafico_franquicia .st11 {
  fill: #1D4498; }
svg.grafico_franquicia .st12 {
  opacity: 0.7;
  fill: #1D4498; }
svg.grafico_franquicia .st13 {
  fill: #FFFFFF; }
svg.grafico_franquicia .st14 {
  fill: none;
  stroke: #E76A3E;
  stroke-width: 2.8514;
  stroke-miterlimit: 10; }
svg.grafico_franquicia .st15 {
  fill: #A5A3A9; }
svg.grafico_franquicia .st16 {
  fill: #39343A; }
svg.grafico_franquicia .st17 {
  fill: #7ECDCE; }
svg.grafico_franquicia .st18 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 3.2901;
  stroke-miterlimit: 10; }
svg.grafico_franquicia .st19 {
  opacity: 0.2;
  fill: #FFFFFF; }
svg.grafico_franquicia .st20 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2.4128;
  stroke-miterlimit: 10; }
svg.grafico_franquicia .st21 {
  fill: #E0DFE5; }
svg.grafico_franquicia .st22 {
  fill: #E76A3E; }
svg.grafico_franquicia .st23 {
  opacity: 0.1;
  fill: #FFFFFF; }
svg.grafico_franquicia .st24 {
  fill: none;
  stroke: #E76A3E;
  stroke-width: 2.0759;
  stroke-miterlimit: 10; }
svg.grafico_franquicia .st25 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2.3953;
  stroke-miterlimit: 10; }
svg.grafico_franquicia .st26 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 1.7566;
  stroke-miterlimit: 10; }
svg.grafico_franquicia .st27 {
  fill: none;
  stroke: #E76A3E;
  stroke-width: 1.5406;
  stroke-miterlimit: 10; }
svg.grafico_franquicia .st28 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 1.7777;
  stroke-miterlimit: 10; }
svg.grafico_franquicia .st29 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 1.3036;
  stroke-miterlimit: 10; }
svg.grafico_franquicia .st30 {
  fill: none;
  stroke: #E76A3E;
  stroke-width: 0.9973;
  stroke-miterlimit: 10; }
svg.grafico_franquicia .st31 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 1.1508;
  stroke-miterlimit: 10; }
svg.grafico_franquicia .st32 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 0.8439;
  stroke-miterlimit: 10; }
svg.grafico_franquicia .st33 {
  fill: none;
  stroke: #E76A3E;
  stroke-width: 0.8118;
  stroke-miterlimit: 10; }
svg.grafico_franquicia .st34 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 0.9367;
  stroke-miterlimit: 10; }
svg.grafico_franquicia .st35 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 0.6869;
  stroke-miterlimit: 10; }
svg.grafico_franquicia .st36 {
  fill: none;
  stroke: #E76A3E;
  stroke-width: 2.6415;
  stroke-miterlimit: 10; }
svg.grafico_franquicia .st37 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 3.0479;
  stroke-miterlimit: 10; }
svg.grafico_franquicia .st38 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 2.2351;
  stroke-miterlimit: 10; }
svg.grafico_franquicia .st39 {
  fill: #009245; }
svg.grafico_franquicia .st40 {
  fill: #4D4D4D; }
svg.grafico_franquicia .st41 {
  fill: #29ABE2; }
svg.grafico_franquicia .st42 {
  fill: #A3DBFF; }
svg.grafico_franquicia .st43 {
  fill: #58595B; }

svg.grafico_marketing .st0 {
  font-family: 'Aspira';
  font-weight: 200;
  font-style: italic; }
svg.grafico_marketing .st1 {
  font-size: 44.6317px; }
svg.grafico_marketing .st2 {
  font-family: 'Aspira';
  font-weight: 700; }
svg.grafico_marketing .st3 {
  font-family: 'Aspira';
  font-weight: 200; }
svg.grafico_marketing .st4 {
  font-size: 11.3px; }
svg.grafico_marketing .st5 {
  font-size: 28.3696px; }
svg.grafico_marketing .st6 {
  fill: none;
  stroke: #000000;
  stroke-miterlimit: 10; }
svg.grafico_marketing .st7 {
  filter: url(#Adobe_OpacityMaskFilter); }
svg.grafico_marketing .st8 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-miterlimit: 10; }
svg.grafico_marketing .st9 {
  mask: url("#SVGID_1_"); }
svg.grafico_marketing .st10 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #163A7A; }
svg.grafico_marketing .st11 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #FFFFFF; }
svg.grafico_marketing .st12 {
  opacity: 0.75;
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #005CFF; }
svg.grafico_marketing .st13 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #00454D; }
svg.grafico_marketing .st14 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #EDEDED; }
svg.grafico_marketing .st15 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #1A1A1A; }
svg.grafico_marketing .st16 {
  opacity: 0.23;
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #FFFFFF; }
svg.grafico_marketing .st17 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #12B5B5; }
svg.grafico_marketing .st18 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #1D4498; }
svg.grafico_marketing .st19 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #636363; }
svg.grafico_marketing .st20 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #FC0D31; }
svg.grafico_marketing .st21 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #F2F2F2; }
svg.grafico_marketing .st22 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #2D2D2D; }
svg.grafico_marketing .st23 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #CFCFBF; }
svg.grafico_marketing .st24 {
  opacity: 0.75; }
svg.grafico_marketing .st25 {
  fill: #005CFF; }
svg.grafico_marketing .st26 {
  fill-rule: evenodd;
  clip-rule: evenodd; }
svg.grafico_marketing .st27 {
  opacity: 0.4; }
svg.grafico_marketing .st28 {
  fill: #B7BFC7; }
svg.grafico_marketing .st29 {
  fill: #1D4498; }
svg.grafico_marketing .st30 {
  fill: #EDEDED; }

svg.grafico_apps .st0 {
  font-family: 'Aspira';
  font-weight: 200;
  font-style: italic; }
svg.grafico_apps .st1 {
  font-size: 44.6317px; }
svg.grafico_apps .st2 {
  font-family: 'Aspira';
  font-weight: 700; }
svg.grafico_apps .st3 {
  font-family: 'Aspira';
  font-weight: 200; }
svg.grafico_apps .st4 {
  font-size: 11.3px; }
svg.grafico_apps .st5 {
  font-size: 28.3696px; }
svg.grafico_apps .st6 {
  fill: none;
  stroke: #000000;
  stroke-miterlimit: 10; }
svg.grafico_apps .st7 {
  fill: #1D4697; }
svg.grafico_apps .st8 {
  opacity: 0.4; }
svg.grafico_apps .st9 {
  opacity: 0.1; }
svg.grafico_apps .st10 {
  opacity: 0.75;
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #005CFF; }
svg.grafico_apps .st11 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #DCE4E8; }
svg.grafico_apps .st12 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #2D2D2D; }
svg.grafico_apps .st13 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #B7BFC7; }
svg.grafico_apps .st14 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #EDEDED; }
svg.grafico_apps .st15 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #1D4498; }
svg.grafico_apps .st16 {
  fill: #FFD6A9; }
svg.grafico_apps .st17 {
  fill: #FCF4D0; }
svg.grafico_apps .st18 {
  fill: #F1F2F2; }
svg.grafico_apps .st19 {
  fill: #BBBDBF; }
svg.grafico_apps .st20 {
  fill: #B7BFC7; }
svg.grafico_apps .st21 {
  fill: #2D2D2D; }
svg.grafico_apps .st22 {
  fill: #FFFFFF; }
svg.grafico_apps .st23 {
  fill: #1D4498; }
svg.grafico_apps .st24 {
  opacity: 0.75; }
svg.grafico_apps .st25 {
  opacity: 0.4;
  fill: #005CFF; }
svg.grafico_apps .st26 {
  fill: #DCE4E8; }
svg.grafico_apps .st27 {
  fill: #F7F9F8; }
svg.grafico_apps .st28 {
  opacity: 0.3;
  fill: #B7BFC7; }
svg.grafico_apps .st29 {
  opacity: 0.75;
  fill: #005CFF; }
svg.grafico_apps .st30 {
  opacity: 0.1;
  fill: #DCE4E8; }

svg.grafico_diseno .st0 {
  font-family: 'Aspira';
  font-weight: 200;
  font-style: italic; }
svg.grafico_diseno .st1 {
  font-size: 44.6317px; }
svg.grafico_diseno .st2 {
  font-family: 'Aspira';
  font-weight: 700; }
svg.grafico_diseno .st3 {
  font-family: 'Aspira';
  font-weight: 200; }
svg.grafico_diseno .st4 {
  font-size: 11.3px; }
svg.grafico_diseno .st5 {
  font-size: 28.3696px; }
svg.grafico_diseno .st6 {
  fill: none;
  stroke: #000000;
  stroke-miterlimit: 10; }
svg.grafico_diseno .st7 {
  opacity: 0.1; }
svg.grafico_diseno .st8 {
  fill: #1D4498; }
svg.grafico_diseno .st9 {
  fill: #A8A698; }
svg.grafico_diseno .st10 {
  fill: #DCE4E8; }
svg.grafico_diseno .st11 {
  fill: #FFFFFF; }
svg.grafico_diseno .st12 {
  fill: #F1F2F2; }
svg.grafico_diseno .st13 {
  fill: #254080; }
svg.grafico_diseno .st14 {
  fill: #2A478C; }
svg.grafico_diseno .st15 {
  fill: #3C5797; }
svg.grafico_diseno .st16 {
  fill: #6176A8; }
svg.grafico_diseno .st17 {
  fill: #8495BC; }
svg.grafico_diseno .st18 {
  fill: #885B0D; }
svg.grafico_diseno .st19 {
  fill: #D89520; }
svg.grafico_diseno .st20 {
  fill: #F3A621; }
svg.grafico_diseno .st21 {
  fill: #F5AE33; }
svg.grafico_diseno .st22 {
  fill: #F7D7A1; }
svg.grafico_diseno .st23 {
  fill: #B30234; }
svg.grafico_diseno .st24 {
  fill: #E20644; }
svg.grafico_diseno .st25 {
  fill: #EE376B; }
svg.grafico_diseno .st26 {
  fill: #F06089; }
svg.grafico_diseno .st27 {
  fill: #F384A3; }
svg.grafico_diseno .st28 {
  fill: #F2F2F1; }
svg.grafico_diseno .st29 {
  fill: #4D6600; }
svg.grafico_diseno .st30 {
  fill: #628200; }
svg.grafico_diseno .st31 {
  fill: #82A600; }
svg.grafico_diseno .st32 {
  fill: #85B100; }
svg.grafico_diseno .st33 {
  fill: #B7CB79; }
svg.grafico_diseno .st34 {
  fill: #E2E2D3; }
svg.grafico_diseno .st35 {
  fill: #FFC06C; }
svg.grafico_diseno .st36 {
  fill: #5E4C37; }
svg.grafico_diseno .st37 {
  fill: #F489A7; }
svg.grafico_diseno .st38 {
  fill: #F4C94E; }
svg.grafico_diseno .st39 {
  fill: #FFF083; }
svg.grafico_diseno .st40 {
  fill: #EDE5D1; }
svg.grafico_diseno .st41 {
  fill: #414042; }
svg.grafico_diseno .st42 {
  fill: #2B2B2D; }
svg.grafico_diseno .st43 {
  fill: #333333; }
svg.grafico_diseno .st44 {
  fill: #242424; }
svg.grafico_diseno .st45 {
  fill: #585759; }
svg.grafico_diseno .st46 {
  fill: #9B9A8C; }
svg.grafico_diseno .st47 {
  fill: #353E42; }
svg.grafico_diseno .st48 {
  fill: #4A5760; }
svg.grafico_diseno .st49 {
  fill: #C6C6BD; }
svg.grafico_diseno .st50 {
  fill: #262F33; }
svg.grafico_diseno .st51 {
  fill: #38454C; }
svg.grafico_diseno .st52 {
  fill: #79858C; }
svg.grafico_diseno .st53 {
  fill: #272E30; }
svg.grafico_diseno .st54 {
  fill: #95A6AD; }
svg.grafico_diseno .st55 {
  fill: #FFDE96; }
svg.grafico_diseno .st56 {
  fill: #FFECC5; }
svg.grafico_diseno .st57 {
  fill: #FDC780; }
svg.grafico_diseno .st58 {
  fill: #45AD00; }
svg.grafico_diseno .st59 {
  fill: #8CC63F; }
svg.grafico_diseno .st60 {
  fill: #59C614; }
svg.grafico_diseno .st61 {
  fill: #458700; }
svg.grafico_diseno .st62 {
  fill: #FC4164; }
svg.grafico_diseno .st63 {
  fill: #FF7391; }
svg.grafico_diseno .st64 {
  fill: #FFA8AA; }
svg.grafico_diseno .st65 {
  fill: #CF002B; }
svg.grafico_diseno .st66 {
  fill: #FC7800; }
svg.grafico_diseno .st67 {
  fill: #FFAD00; }
svg.grafico_diseno .st68 {
  fill: #FFAD61; }
svg.grafico_diseno .st69 {
  fill: #FC4F00; }
svg.grafico_diseno .st70 {
  fill: #C69C6D; }
svg.grafico_diseno .st71 {
  fill: #A6825E; }
svg.grafico_diseno .st72 {
  fill: #E6E6E6; }
svg.grafico_diseno .st73 {
  fill: #CCCCCC; }
svg.grafico_diseno .st74 {
  fill: #B3B3B3; }
svg.grafico_diseno .st75 {
  fill: #F9FDFF; }
svg.grafico_diseno .st76 {
  fill: #EDEDED; }
svg.grafico_diseno .st77 {
  fill: #2D2D2D; }
svg.grafico_diseno .st78 {
  fill: #EFEFEF; }
svg.grafico_diseno .st79 {
  fill: #DBDBDB; }
svg.grafico_diseno .st80 {
  opacity: 0.5;
  fill: #FFFFFF; }
svg.grafico_diseno .st81 {
  fill: #7A7A7A; }
svg.grafico_diseno .st82 {
  opacity: 0.2;
  fill: #2D2D2D; }
svg.grafico_diseno .st83 {
  opacity: 4.000000e-02;
  fill: #FFFFFF; }

svg.grafico_inteligencia .s0 {
  stop-color: #B5B5B5; }
svg.grafico_inteligencia .s1 {
  stop-color: #B7B7B7; }
svg.grafico_inteligencia .s2 {
  stop-color: #CDCDCD; }
svg.grafico_inteligencia .s3 {
  stop-color: #DEDEDE; }
svg.grafico_inteligencia .s4 {
  stop-color: #EAEAEA; }
svg.grafico_inteligencia .s5 {
  stop-color: #F0F0F0; }
svg.grafico_inteligencia .s6 {
  stop-color: #F2F2F2; }
svg.grafico_inteligencia .s7 {
  stop-color: #F1F2F2; }
svg.grafico_inteligencia .st0 {
  filter: url(#Adobe_OpacityMaskFilter); }
svg.grafico_inteligencia .st1 {
  fill: #FFFFFF;
  stroke: #000000;
  stroke-miterlimit: 10; }
svg.grafico_inteligencia .st2 {
  mask: url("#SVGID_1_"); }
svg.grafico_inteligencia .st3 {
  font-family: 'Aspira';
  font-weight: 700; }
svg.grafico_inteligencia .st4 {
  font-size: 44.6317px; }
svg.grafico_inteligencia .st5 {
  font-family: 'Aspira';
  font-weight: 200;
  font-style: italic; }
svg.grafico_inteligencia .st6 {
  font-family: 'Aspira';
  font-weight: 200; }
svg.grafico_inteligencia .st7 {
  font-size: 11.3px; }
svg.grafico_inteligencia .st8 {
  font-size: 28.3696px; }
svg.grafico_inteligencia .st9 {
  fill: none;
  stroke: #000000;
  stroke-miterlimit: 10; }
svg.grafico_inteligencia .st10 {
  opacity: 0.1; }
svg.grafico_inteligencia .st11 {
  fill: #1D4498; }
svg.grafico_inteligencia .st12 {
  fill: #A8A698; }
svg.grafico_inteligencia .st13 {
  fill: #DCE4E8; }
svg.grafico_inteligencia .st14 {
  fill: #FFFFFF; }
svg.grafico_inteligencia .st15 {
  fill: #C69C6D; }
svg.grafico_inteligencia .st16 {
  fill: #A6825E; }
svg.grafico_inteligencia .st17 {
  fill: #E6E6E6; }
svg.grafico_inteligencia .st18 {
  fill: #CCCCCC; }
svg.grafico_inteligencia .st19 {
  fill: #B3B3B3; }
svg.grafico_inteligencia .st20 {
  fill: #F9FDFF; }
svg.grafico_inteligencia .st21 {
  fill: url("#SVGID_2_"); }
svg.grafico_inteligencia .st22 {
  fill: #005CFF; }
svg.grafico_inteligencia .st23 {
  fill: #03A5ED; }
svg.grafico_inteligencia .st24 {
  fill: url("#SVGID_3_"); }
svg.grafico_inteligencia .st25 {
  fill: url("#SVGID_4_"); }
svg.grafico_inteligencia .st26 {
  fill: url("#SVGID_5_"); }
svg.grafico_inteligencia .st27 {
  fill: url("#SVGID_6_"); }
svg.grafico_inteligencia .st28 {
  fill: #F7F9F8; }
svg.grafico_inteligencia .st29 {
  fill: #163A7A; }
svg.grafico_inteligencia .st30 {
  fill: #B7BFC7; }
svg.grafico_inteligencia .st31 {
  opacity: 0.6;
  fill: #DCE4E8; }
svg.grafico_inteligencia .st32 {
  fill: #2D2D2D; }
svg.grafico_inteligencia .st33 {
  fill: #464E5C; }
svg.grafico_inteligencia .st34 {
  opacity: 0.75;
  fill: #005CFF; }
svg.grafico_inteligencia .st35 {
  opacity: 0.3;
  fill: #DCE4E8; }

svg.grafico_importacion .st0 {
  display: none; }
svg.grafico_importacion .st1 {
  display: inline;
  fill: #EBEBEB; }
svg.grafico_importacion .st2 {
  font-family: 'Aspira';
  font-weight: 700; }
svg.grafico_importacion .st3 {
  font-size: 44.6317px; }
svg.grafico_importacion .st4 {
  font-family: 'Aspira';
  font-weight: 200;
  font-style: italic; }
svg.grafico_importacion .st5 {
  font-family: 'Aspira';
  font-weight: 200; }
svg.grafico_importacion .st6 {
  font-size: 14.0072px; }
svg.grafico_importacion .st7 {
  font-size: 28.3696px; }
svg.grafico_importacion .st8 {
  fill: none;
  stroke: #000000;
  stroke-miterlimit: 10; }
svg.grafico_importacion .st9 {
  opacity: 0.2;
  fill: #005CFF; }
svg.grafico_importacion .st10 {
  fill: none;
  stroke: #005CFF;
  stroke-width: 0.8756;
  stroke-miterlimit: 10; }
svg.grafico_importacion .st11 {
  fill: none;
  stroke: #005CFF;
  stroke-width: 0.8756;
  stroke-miterlimit: 10;
  stroke-dasharray: 10.2028,10.2028; }
svg.grafico_importacion .st12 {
  fill: none;
  stroke: #005CFF;
  stroke-width: 0.8756;
  stroke-miterlimit: 10;
  stroke-dasharray: 9.4741,9.4741; }
svg.grafico_importacion .st13 {
  fill: none;
  stroke: #005CFF;
  stroke-width: 0.8756;
  stroke-miterlimit: 10;
  stroke-dasharray: 9.474,9.474; }
svg.grafico_importacion .st14 {
  fill: none;
  stroke: #005CFF;
  stroke-width: 0.8756;
  stroke-miterlimit: 10;
  stroke-dasharray: 10.174,10.174; }
svg.grafico_importacion .st15 {
  fill: #AD947E; }
svg.grafico_importacion .st16 {
  fill: #D7B99F; }
svg.grafico_importacion .st17 {
  fill: #E4D1B3; }
svg.grafico_importacion .st18 {
  fill: #987869; }
svg.grafico_importacion .st19 {
  fill: #CEB4A3; }
svg.grafico_importacion .st20 {
  fill: none;
  stroke: #005CFF;
  stroke-width: 0.8756;
  stroke-miterlimit: 10;
  stroke-dasharray: 10.0288; }
svg.grafico_importacion .st21 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #EBEBEB; }
svg.grafico_importacion .st22 {
  opacity: 0.8;
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #2D2D2D; }
svg.grafico_importacion .st23 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #E4E5E5; }
svg.grafico_importacion .st24 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #CBCBCB; }
svg.grafico_importacion .st25 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #B2B2B2; }
svg.grafico_importacion .st26 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #989898; }
svg.grafico_importacion .st27 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #005CFF; }
svg.grafico_importacion .st28 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #2C547E; }
svg.grafico_importacion .st29 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #808080; }
svg.grafico_importacion .st30 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #163A7A; }
svg.grafico_importacion .st31 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #1D4498; }
svg.grafico_importacion .st32 {
  fill: #005CFF; }
svg.grafico_importacion .st33 {
  fill: #1D4498; }
svg.grafico_importacion .st34 {
  fill: #163A7A; }
svg.grafico_importacion .st35 {
  fill: #CBCBCB; }
svg.grafico_importacion .st36 {
  fill: #989898; }
svg.grafico_importacion .st37 {
  fill: #FCFCFC; }
svg.grafico_importacion .st38 {
  fill: #2D2D2D; }
svg.grafico_importacion .st39 {
  opacity: 0.2; }
svg.grafico_importacion .st40 {
  fill: #B7BFC7; }
svg.grafico_importacion .st41 {
  fill: #DCE4E8; }
svg.grafico_importacion .st42 {
  opacity: 0.1; }
svg.grafico_importacion .st43 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 0.6193;
  stroke-miterlimit: 10; }
svg.grafico_importacion .st44 {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 0.3841;
  stroke-miterlimit: 10; }

/*
	Animacion para los pilares que entran de forma horizontal, se le aplica una translacion en el eje X apra dar este efecto
	Junto con un cambio de opacidad, de igual forma para la vertical pero en el eje Y.
*/
.porque p.descripcion {
  width: 95%;
  margin: 2.5%;
  float: none;
  font-family: Aspira; }
  @media screen and (min-width: 768px) {
    .porque p.descripcion {
      width: 48%;
      margin: 0 1%;
      float: left; } }
.porque object {
  width: 95%;
  margin: 0 2.5%; }

/*
	Animacion para los pilares que entran de forma horizontal, se le aplica una translacion en el eje X apra dar este efecto
	Junto con un cambio de opacidad, de igual forma para la vertical pero en el eje Y.
	
*/
@-webkit-keyframes fadeHorizontal {
  0% {
    transform: translateX(-150px);
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeHorizontalInv {
  0% {
    transform: translateX(150px);
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeLineaHorizontal {
  0% {
    transform: translateX(-150px); }
  100% {
    opacity: 1; } }
/*
	Animacion para los pilares que caen de forma vertical
	35% es cuando los pilares se vuelven visibles y comienzan a caer, decrementar este valor para que se vean antes 
	e incrementar para que se vean despues
	
*/
@-webkit-keyframes fadeVertical {
  0% {
    transform: translateY(-250px); }
  35% {
    opacity: 0; }
  100% {
    opacity: 0.75; } }
@-webkit-keyframes fade {
  100% {
    opacity: 1; } }
/*----------------------------*/
@-moz-keyframes fadeHorizontal {
  0% {
    transform: translateX(-150px);
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeHorizontalInv {
  0% {
    transform: translateX(150px);
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeLineaHorizontal {
  0% {
    transform: translateX(-150px); }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeVertical {
  0% {
    transform: translateY(-150px); }
  55% {
    opacity: 0; }
  100% {
    opacity: 0.75; } }
@-moz-keyframes fade {
  100% {
    opacity: 1; } }
.Animate-Draw {
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration: 1;
  animation-name: DrawLine;
  animation-duration: 4s;
  animation-delay: 0; }

#phone:hover {
  opacity: .65;
  fill: white; }

a.svg {
  position: relative;
  display: block; }

a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

a.svg:hover {
  opacity: .85;
  fill: white; }

#Draw-Frame1 {
  animation-delay: 2.5s;
  animation-duration: 1.5s;
  stroke-dashArray: 1500;
  stroke-dashoffset: 1500; }

#Draw-Frame2 {
  animation-delay: 3.5s;
  animation-duration: 1.5s;
  stroke-dashArray: 1500;
  stroke-dashoffset: 1500; }

#Draw-Frame3 {
  animation-delay: 4.5s;
  animation-duration: 1.5s;
  stroke-dashArray: 1500;
  stroke-dashoffset: 1500; }

#Draw-Frame4 {
  animation-delay: 5.5s;
  animation-duration: 1.5s;
  stroke-dashArray: 1500;
  stroke-dashoffset: 1500; }

#Draw-Frame5 {
  animation-delay: 6.5s;
  animation-duration: 1.5s;
  stroke-dashArray: 1500;
  stroke-dashoffset: 1500; }

#Draw-Frame6 {
  animation-delay: 7.5s;
  animation-duration: 1.5s;
  stroke-dashArray: 1500;
  stroke-dashoffset: 1500; }

#Draw-Frame7 {
  animation-delay: 8.5s;
  animation-duration: 1.5s;
  stroke-dashArray: 1500;
  stroke-dashoffset: 1500; }

#Draw-Frame8 {
  animation-delay: 9.5s;
  animation-duration: 1.5s;
  stroke-dashArray: 1500;
  stroke-dashoffset: 1500; }

#Logo {
  width: 150%;
  height: 100%;
  position: absolute;
  top: 0;
  right: -25%;
  bottom: 0;
  left: -25%;
  margin: auto;
  display: block;
  fill: #aa7f3d;
  fill: url("#MyGradient");
  stroke: #EEBE7B;
  stroke-miterlimit: 5; }

#Draw-Mark {
  stroke-dashArray: 1100;
  stroke-dashoffset: 1100; }

#Draw-Frame {
  animation-delay: .5s, 3.5s, 3.5s;
  animation-duration: 3.5s, 1s, 1s;
  stroke-dashArray: 1500;
  stroke-dashoffset: 1500; }

#Draw-Text {
  animation-delay: 2s, 3.5s, 3.5s;
  animation-duration: 2s, 1s, 1s;
  stroke-dashArray: 300;
  stroke-dashoffset: 300; }

@keyframes FadeStroke {
  to {
    stroke-opacity: 0; } }
@keyframes FillIn {
  from {
    fill-opacity: 0; }
  to {
    fill-opacity: 1; } }
@-moz-keyframes DrawLine {
  to {
    stroke-dashOffset: 0; } }
@-webkit-keyframes DrawLine {
  to {
    stroke-dashOffset: 0; } }
@-ms-keyframes fadeHorizontal {
  0% {
    transform: translateX(-150px);
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes fadeHorizontalInv {
  0% {
    transform: translateX(150px);
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes fadeLineaHorizontal {
  0% {
    transform: translateX(-150px); }
  100% {
    opacity: 1; } }
@-ms-keyframes fadeVertical {
  0% {
    transform: translateY(-150px); }
  55% {
    opacity: 0; }
  100% {
    opacity: 0.75; } }
@-ms-keyframes fade {
  100% {
    opacity: 1; } }
@-ms-keyframes DrawLine {
  to {
    stroke-dashOffset: 0; } }
.mision {
  width: 100%;
  background: #1c4499; }
  .mision .mision-center {
    padding: 10px;
    text-align: center;
    box-sizing: border-box; }
    .mision .mision-center object,
    .mision .mision-center .mision-title {
      vertical-align: middle;
      display: inline-block; }
    .mision .mision-center .mision-title {
      font-family: Aspira;
      font-weight: 200;
      font-style: italic;
      text-transform: uppercase;
      color: white;
      font-size: 5.7vw;
      margin: 0; }
      @media screen and (min-width: 768px) {
        .mision .mision-center .mision-title {
          font-size: 4.5vw; } }
      @media screen and (min-width: 1150px) {
        .mision .mision-center .mision-title {
          font-size: 3.5rem; } }
    .mision .mision-center p.descripcion {
      width: 95%;
      margin: 2.5%;
      float: none;
      font-family: Aspira;
      color: white; }
    .mision .mision-center object {
      width: 6%;
      margin: 1% 0; }

.valores .texto_valores {
  font-family: Aspira;
  text-align: center;
  display: block; }
  @media screen and (min-width: 768px) {
    .valores .texto_valores {
      display: none; } }

.clientes .clientes_img {
  width: 95%;
  margin: 0 2.5%;
  display: inline-block;
  text-align: center; }
  .clientes .clientes_img img {
    width: 30%;
    display: inline-block;
    vertical-align: middle;
    transition: 0.5s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
    @media screen and (min-width: 768px) {
      .clientes .clientes_img img {
        width: 16.3%; } }
    .clientes .clientes_img img:hover {
      -webkit-filter: none;
      filter: none; }

.socios_com .socios_iconos {
  width: 98%;
  display: inline-block;
  text-align: center; }
.socios_com object {
  width: 25%;
  display: inline-block;
  vertical-align: top; }
.socios_com .socios_pequeno {
  display: inline-block;
  width: 71%;
  vertical-align: middle; }
  .socios_com .socios_pequeno img {
    display: inline-block;
    width: 24%;
    margin: 0; }

.ubicacion {
  max-width: 1100px;
  display: block; }

.contacto {
  width: 100%;
  margin: 10px 0;
  font-family: 'Aspira';
  display: inline-block;
  vertical-align: top; }
  @media screen and (min-width: 768px) {
    .contacto {
      width: 45%;
      margin: 1%; } }
  .contacto ul {
    list-style-type: none;
    padding: 0; }
  .contacto input,
  .contacto textarea {
    background: rgba(104, 104, 104, 0.25); }
  .contacto .contact-dropdown-services dt a,
  .contacto input,
  .contacto textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 0;
    box-sizing: border-box; }
  .contacto .contact-dropdown-services dd,
  .contacto .contact-dropdown-services dt {
    margin: 0;
    padding: 0; }
  .contacto .contact-dropdown-services ul {
    margin: -1px 0 0; }
  .contacto .contact-dropdown-services dd {
    position: relative; }
    .contacto .contact-dropdown-services dd ul {
      background-color: #1c4499;
      border: 0;
      color: #fff;
      display: none;
      left: 0;
      padding: 2px 15px 2px 5px;
      position: absolute;
      top: 2px;
      width: 97%;
      list-style: none;
      height: 100px;
      overflow: auto; }
      .contacto .contact-dropdown-services dd ul li a {
        padding: 5px;
        display: block; }
        .contacto .contact-dropdown-services dd ul li a:hover {
          background-color: #fff; }
    .contacto .contact-dropdown-services dd input {
      width: 10%;
      box-sizing: border-box; }
  .contacto .contact-dropdown-services dt a {
    background-color: #1c4499;
    display: block;
    padding: 8px 20px 5px 10px;
    min-height: 25px;
    line-height: 24px;
    overflow: hidden; }
    .contacto .contact-dropdown-services dt a .mutliSelect span,
    .contacto .contact-dropdown-services dt a span {
      cursor: pointer;
      display: inline-block;
      padding: 0 3px 2px 0; }
  .contacto .contact-dropdown-services a, .contacto .contact-dropdown-services a:visited {
    color: #fff;
    text-decoration: none;
    outline: none;
    font-size: 12px; }
  .contacto .contact-dropdown-services span.value {
    display: none; }
  .contacto button {
    padding: 10px 20px;
    background: #1c4499;
    border: none;
    color: white;
    float: right;
    text-align: center;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .contacto button {
        width: auto; } }

.servicio {
  width: 100%; }
  .servicio:nth-child(odd) {
    background: white; }
  .servicio:nth-child(even) {
    background: rgba(104, 104, 104, 0.25); }
  .servicio object {
    width: 100%;
    max-width: 1100px;
    display: block;
    margin: auto; }

.nosotros {
  font-family: 'Aspira'; }
  .nosotros .nosotros_img {
    display: inline-block;
    text-align: center; }
    .nosotros .nosotros_img img {
      width: 100%;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0; }
    .nosotros .nosotros_img .integrante {
      width: 200px;
      height: 280px;
      display: inline-block;
      margin: 13px;
      overflow: hidden;
      position: relative; }
      .nosotros .nosotros_img .integrante .integrante_descripcion {
        position: absolute;
        top: 200px;
        left: 0;
        background: white;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
        font-size: .9rem;
        text-transform: uppercase;
        font-weight: 700;
        height: 100%;
        padding: 10px;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out; }
      .nosotros .nosotros_img .integrante:hover .integrante_descripcion {
        top: 0; }

.mapas {
  width: 98%;
  margin: auto;
  display: block;
  font-family: 'Aspira'; }
  @media screen and (min-width: 768px) {
    .mapas {
      width: 48%;
      margin: 1%;
      display: inline-block; } }
  .mapas #gmap_canvas,
  .mapas .mapas_desc {
    margin: 0 0 20px 0; }
    .mapas #gmap_canvas p,
    .mapas .mapas_desc p {
      margin: 8px 0; }
  .mapas #gmap_canvas {
    width: 100%;
    height: 440px; }
    @media screen and (min-width: 768px) {
      .mapas #gmap_canvas {
        height: 260px; } }
  .mapas .mapas_desc {
    text-align: left;
    font-size: 0.8rem;
    color: #2c3e50;
    width: 100%;
    cursor: pointer; }
    .mapas .mapas_desc .something {
      text-transform: uppercase;
      padding: 1px 10px; }
      .mapas .mapas_desc .something i {
        color: #1c4499; }
      .mapas .mapas_desc .something .nombre {
        font-weight: 700; }
      .mapas .mapas_desc .something .direccion,
      .mapas .mapas_desc .something .telefono {
        font-weight: 200; }

svg:hover #phone, #phone:hover {
  opacity: .65;
  fill: white; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px; }

.clientes,
.mision-center,
.nosotros,
.porque,
.quienes,
.servicios_title,
.socios_com,
.valores,
.ubicacion {
  width: 100%;
  max-width: 1150px;
  margin: 20px auto;
  overflow: auto; }

p.title {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5.7vw;
  box-sizing: border-box;
  font-family: Aspira;
  font-weight: 200;
  font-style: italic;
  text-transform: uppercase;
  width: 100%;
  max-width: 1150px;
  color: white; }
  p.title strong {
    font-style: normal; }
  p.title span {
    font-weight: 700;
    font-style: normal; }
  @media screen and (min-width: 768px) {
    p.title {
      font-size: 4.5vw; } }
  @media screen and (min-width: 1150px) {
    p.title {
      font-size: 3.5rem; } }

p.title.center {
  text-align: center; }

div.title-container {
  width: 100%;
  background: black;
  position: relative; }

.quienes .imagen,
.valores .imagen {
  width: 50%;
  float: none;
  margin: 0 auto; }
  .quienes .imagen img,
  .valores .imagen img {
    width: 100%; }

/*# sourceMappingURL=style.css.map */
