@charset "UTF-8";
/*
  HERO BANNER
*/
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Medium-Italic.otf");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Demi-Italic.otf");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Light-Italic.otf");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Bold-Italic.otf");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Black-Italic.otf");
  font-weight: 800;
  font-style: italic; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Demi.otf");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Medium.otf");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Bold.otf");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: Aspira2;
  src: url("fonts/Aspira-Italic-2.otf");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Italic.otf");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Regular.otf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Light.otf");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Heavy.otf");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Black.otf");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Thin.otf");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Thin-Italic.otf");
  font-weight: 200;
  font-style: italic; }
@font-face {
  font-family: Prototype;
  src: url("fonts/Prototype.ttf");
  font-weight: 400;
  font-style: normal; }
nav {
  display: block;
  background: #1c4499; }

nav a {
  font-family: Aspira;
  font-weight: 200;
  font-style: italic;
  text-transform: uppercase; }

/*versi├│n de escritorio*/
.menu {
  display: block; }

.menu li {
  display: inline-block;
  position: relative;
  z-index: 100; }

.menu li a {
  font-weight: 600;
  text-decoration: none;
  padding: 11px;
  display: block;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

.menu li a:hover, .menu li:hover > a {
  color: #ffffff;
  background: #9CA3DA; }

/*Ocultar nivel 2 (submenu)*/
.menu ul {
  display: none;
  margin: 0;
  padding: 0;
  width: 250px;
  position: absolute;
  top: 43px;
  left: 0px;
  background: #ffffff; }

/* Mostrar segundo nivel */
.menu li:hover > ul {
  display: block; }

.menu ul li {
  display: block;
  float: none;
  background: none;
  margin: 0;
  padding: 0; }

.menu ul li a {
  font-size: 12px;
  font-weight: normal;
  display: block;
  color: #797979;
  border-left: 3px solid #ffffff;
  background: #ffffff; }

.menu ul li a:hover, .menu ul li:hover > a {
  background: #f0f0f0;
  border-left: 3px solid #9CA3DA;
  color: #797979; }

/*Nivel 3 igual que el 2, solo cambia posicion*/
.menu ul ul {
  left: 251px;
  top: 0px; }

/*Mobile*/
.mobile-menu {
  display: none;
  width: 100%;
  padding: 11px;
  background: #1c4499;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600; }

.mobile-menu:hover {
  background: #1c4499;
  color: #ffffff;
  text-decoration: none; }

@media (max-width: 768px) {
  object {
    display: none; }

  .menu {
    display: none; }

  .mobile-menu {
    display: block;
    margin-top: 100px; }
    .mobile-menu a {
      font-family: Aspira;
      font-weight: 200;
      font-style: italic;
      text-transform: uppercase;
      text-decoration: none; }

  nav {
    margin: 0;
    background: none; }

  .menu li {
    display: block;
    margin: 0; }

  .menu li a {
    background: #ffffff;
    color: #797979;
    border-top: 1px solid #e0e0e0;
    border-left: 3px solid #ffffff; }

  .menu li a:hover, .menu li:hover > a {
    background: #f0f0f0;
    color: #797979;
    border-left: 3px solid #9CA3DA; }

  /*level 2 and 3 - make same width as all items*/
  .menu ul {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%; }

  .menu ul ul {
    left: 0; } }
/*end media queries*/
/*Hero banner con el video*/
.hero {
  width: 100%;
  position: relative;
  float: none; }
  .hero video {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    opacity: 80%;
    display: block; }
  .hero object {
    width: 40%;
    max-width: 440px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); }
  .hero .color {
    background: #585858;
    position: absolute;
    top: 0;
    float: left;
    opacity: 0.5;
    width: 100%;
    height: 100%; }

.porque,
.quienes {
  width: 100%;
  max-width: 1100px;
  margin: 40px auto auto;
  font-size: 5.7vw;
  overflow: auto; }
  .porque p.title,
  .quienes p.title {
    box-sizing: border-box;
    font-family: Aspira;
    font-weight: 200;
    font-style: italic;
    text-transform: uppercase;
    padding: 10px; }
    .porque p.title span,
    .quienes p.title span {
      font-weight: 700;
      font-style: normal; }

.quienes p.title {
  text-align: center; }
.quienes .circulo,
.quienes .imagen {
  float: left; }
.quienes .circulo {
  width: 100%;
  padding: 5px 0;
  border-bottom: solid 1px #686868;
  border-top: solid 1px #686868;
  float: none; }
  @media screen and (min-width: 768px) {
    .quienes .circulo {
      width: 28%;
      margin: 0 1%;
      border: none;
      float: left; } }
  .quienes .circulo object {
    display: none;
    margin-top: 50%; }
    @media screen and (min-width: 768px) {
      .quienes .circulo object {
        display: block; } }
  .quienes .circulo .info {
    box-sizing: border-box;
    background: #1c4499;
    color: white;
    padding: 10px;
    font-family: Aspira;
    font-size: 1rem;
    font-weight: 200;
    display: block;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .quienes .circulo .info {
        display: none; } }
.quienes .imagen {
  width: 100%;
  float: none; }
  .quienes .imagen img {
    width: 100%; }
  @media screen and (min-width: 768px) {
    .quienes .imagen {
      float: right;
      width: 70%; } }

svg.circle_shape .st0 {
  fill: #686868; }
svg.circle_shape .st1 {
  fill: #1c4499; }

svg.logo_principal .st0 {
  fill: white; }

svg.piramide .st0 {
  fill: none;
  stroke: #1C4499;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  animation-name: fadeHorizontal;
  animation-duration: 2s;
  animation-delay: 0s; }
svg.piramide .st1, svg.piramide .st12, svg.piramide .st13, svg.piramide .st14 {
  fill: none;
  stroke: #1C4499;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10; }
svg.piramide .st1 {
  opacity: 0;
  animation-name: fadeVertical;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-fill-mode: forwards; }
svg.piramide .st12 {
  opacity: 0;
  animation-name: fadeVertical;
  animation-duration: 2s;
  animation-delay: 0.25s;
  animation-fill-mode: forwards; }
svg.piramide .st13 {
  opacity: 0;
  animation-name: fadeVertical;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards; }
svg.piramide .st14 {
  opacity: 0;
  animation-name: fadeVertical;
  animation-duration: 2s;
  animation-delay: 0.75s;
  animation-fill-mode: forwards; }
svg.piramide .st2 {
  opacity: 0;
  fill: #686868;
  animation-name: fade;
  animation-duration: 1.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards; }
svg.piramide .st3 {
  fill: none;
  stroke: #686868;
  stroke-miterlimit: 10;
  opacity: 0;
  animation-name: fadeHorizontal;
  animation-duration: 2s;
  animation-delay: .5s;
  animation-fill-mode: forwards; }
svg.piramide .st4 {
  font-family: 'Aspira';
  font-weight: 600;
  opacity: 0;
  animation-name: fadeHorizontal;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards; }
svg.piramide .st5 {
  font-size: 9px; }
svg.piramide .st6 {
  font-family: 'Aspira';
  font-weight: 200;
  opacity: 0;
  animation-name: fadeHorizontal;
  animation-duration: 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards; }

/*
	Animacion para los pilares que entran de forma horizontal, se le aplica una translacion en el eje X apra dar este efecto
	Junto con un cambio de opacidad, de igual forma para la vertical pero en el eje Y.
*/
.porque object {
  width: 95%;
  margin: 0 2.5%; }

/*
	Animacion para los pilares que entran de forma horizontal, se le aplica una translacion en el eje X apra dar este efecto
	Junto con un cambio de opacidad, de igual forma para la vertical pero en el eje Y.
	
*/
@-webkit-keyframes fadeHorizontal {
  0% {
    transform: translateX(-150px);
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeLineaHorizontal {
  0% {
    transform: translateX(-150px); }
  100% {
    opacity: 1; } }
/*
	Animacion para los pilares que caen de forma vertical
	35% es cuando los pilares se vuelven visibles y comienzan a caer, decrementar este valor para que se vean antes 
	e incrementar para que se vean despues
	
*/
@-webkit-keyframes fadeVertical {
  0% {
    transform: translateY(-250px); }
  35% {
    opacity: 0; }
  100% {
    opacity: 0.75; } }
@-webkit-keyframes fade {
  100% {
    opacity: 1; } }
@-moz-keyframes fadeHorizontal {
  0% {
    transform: translateX(-150px);
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeLineaHorizontal {
  0% {
    transform: translateX(-150px); }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeVertical {
  0% {
    transform: translateY(-150px); }
  55% {
    opacity: 0; }
  100% {
    opacity: 0.75; } }
@-moz-keyframes fade {
  100% {
    opacity: 1; } }
body {
  margin: 0;
  padding: 0;
  font-size: 16pt; }

/*# sourceMappingURL=style.css.map */
