@charset "UTF-8";
/*
  HERO BANNER
*/
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Medium-Italic.otf");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Demi-Italic.otf");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Light-Italic.otf");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Bold-Italic.otf");
  font-weight: 700;
  font-style: italic; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Black-Italic.otf");
  font-weight: 800;
  font-style: italic; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Demi.otf");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Medium.otf");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Bold.otf");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: Aspira2;
  src: url("fonts/Aspira-Italic-2.otf");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Italic.otf");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Regular.otf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Light.otf");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Heavy.otf");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Black.otf");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Thin.otf");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: Aspira;
  src: url("fonts/Aspira-Thin-Italic.otf");
  font-weight: 200;
  font-style: italic; }
@font-face {
  font-family: Prototype;
  src: url("fonts/Prototype.ttf");
  font-weight: 400;
  font-style: normal; }
.navbar {
  display: block;
  background: #000;
  position: relative; }

.navbar a {
  font-family: Aspira;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none; }

/*versión de escritorio*/
.menu {
  display: block;
  margin: 0 0 0 10%; }

.menu li {
  display: inline-block;
  position: relative;
  z-index: 100; }

.menu li a {
  font-weight: 200;
  text-decoration: none;
  padding: 11px;
  display: block;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

.menu li a:hover,
.menu li:hover > a {
  color: #ffffff;
  background: #686868; }

/*Ocultar nivel 2 (submenu)*/
.menu ul {
  display: none;
  margin: 0;
  padding: 0;
  width: 250px;
  position: absolute;
  top: 43px;
  left: 0;
  background: #ffffff; }

/* Mostrar segundo nivel */
.menu li:hover > ul {
  display: block; }

.menu ul li {
  display: block;
  float: none;
  background: none;
  margin: 0;
  padding: 0; }

.menu ul li a {
  font-size: 12px;
  font-weight: normal;
  display: block;
  color: #797979;
  border-left: 3px solid #ffffff;
  background: #ffffff; }

.menu ul li a:hover,
.menu ul li:hover > a {
  background: #f0f0f0;
  border-left: 3px solid #9CA3DA;
  color: #797979; }

/*Nivel 3 igual que el 2, solo cambia posicion*/
.menu ul ul {
  left: 251px;
  top: 0; }

/*Mobile*/
.mobile-menu {
  display: none;
  width: 100%;
  padding: 11px;
  background: #000;
  color: #ffffff;
  text-transform: uppercase;
  box-sizing: border-box;
  font-weight: 600; }

.mobile-menu:hover {
  background: #000;
  color: #ffffff;
  text-decoration: none; }

@media (max-width: 768px) {
  .navbar ul.menu object {
    display: none; }

  .menu {
    display: none; }

  .mobile-menu {
    display: block;
    margin-top: 100px; }
    .mobile-menu a {
      font-family: Aspira;
      font-weight: 200;
      font-style: italic;
      text-transform: uppercase;
      text-decoration: none; }

  .navbar {
    margin: 0;
    background: none; }

  .menu li {
    display: block;
    margin: 0; }

  .menu li a {
    background: #ffffff;
    color: #797979;
    border-top: 1px solid #e0e0e0;
    border-left: 3px solid #ffffff; }

  .menu li a:hover,
  .menu li:hover > a {
    background: #f0f0f0;
    color: #797979;
    border-left: 3px solid #686868; }

  /*level 2 and 3 - make same width as all items*/
  .menu ul {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 100%; }

  .menu ul ul {
    left: 0; } }
/*end media queries*/
nav.navbar .menu_logo {
  position: absolute;
  float: left;
  margin: 0;
  width: 14%;
  max-width: 153px;
  top: -1px; }

/*Hero banner con el video*/
.hero {
  width: 100%;
  position: relative;
  float: none; }
  .hero video {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    opacity: 80%;
    display: block; }
  .hero object {
    width: 40%;
    max-width: 440px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%); }
  .hero .color {
    background: #585858;
    position: absolute;
    top: 0;
    float: left;
    opacity: 0.5;
    width: 100%;
    height: 100%; }

.mision-center,
.porque,
.quienes,
.valores,
.servicios_title,
.clientes,
.socios_com {
  width: 100%;
  max-width: 1100px;
  margin: 20px auto;
  overflow: auto; }
  .mision-center p.title,
  .porque p.title,
  .quienes p.title,
  .valores p.title,
  .servicios_title p.title,
  .clientes p.title,
  .socios_com p.title {
    margin: 0;
    font-size: 5.7vw;
    box-sizing: border-box;
    font-family: Aspira;
    font-weight: 200;
    font-style: italic;
    text-transform: uppercase;
    padding: 10px; }
    .mision-center p.title span,
    .porque p.title span,
    .quienes p.title span,
    .valores p.title span,
    .servicios_title p.title span,
    .clientes p.title span,
    .socios_com p.title span {
      font-weight: 700;
      font-style: normal; }
    @media screen and (min-width: 768px) {
      .mision-center p.title,
      .porque p.title,
      .quienes p.title,
      .valores p.title,
      .servicios_title p.title,
      .clientes p.title,
      .socios_com p.title {
        font-size: 4.5vw; } }

.quienes p.title,
.valores p.title {
  text-align: center; }
.quienes .imagen,
.valores .imagen {
  width: 50%;
  float: none;
  margin: 0 auto; }
  .quienes .imagen img,
  .valores .imagen img {
    width: 100%; }

.circulo,
.imagen {
  float: left; }

.circulo {
  width: 100%;
  padding: 10px;
  float: none;
  background: #1c4499;
  box-sizing: border-box; }
  .circulo .info {
    box-sizing: border-box;
    color: white;
    padding: 10px;
    font-family: Aspira;
    font-size: 1rem;
    font-weight: 200;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1100px;
    text-align: center; }

svg.circle_shape .st0 {
  fill: #686868; }
svg.circle_shape .st1 {
  fill: #1c4499; }

svg.logo_principal .st0 {
  fill: white; }

svg.nuestra_mision .st0 {
  fill: white; }

svg.piramide {
  /*aca iban las clases*/ }
  svg.piramide .st0,
  svg.piramide .st0_1,
  svg.piramide .st0_2,
  svg.piramide .st0_3 {
    fill: none;
    stroke: #1C4499;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10; }
  svg.piramide .st0 {
    opacity: 0;
    animation-name: fadeHorizontal;
    animation-duration: 1s;
    animation-delay: 0.0s;
    animation-fill-mode: forwards; }
  svg.piramide .st0_1 {
    opacity: 0;
    animation-name: fadeHorizontal;
    animation-duration: 1s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards; }
  svg.piramide .st0_2 {
    opacity: 0;
    animation-name: fadeHorizontal;
    animation-duration: 1s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards; }
  svg.piramide .st0_3 {
    opacity: 0;
    animation-name: fadeHorizontalInv;
    animation-duration: 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards; }
  svg.piramide .st1,
  svg.piramide .st1_2,
  svg.piramide .st1_3,
  svg.piramide .st1_4 {
    fill: none;
    stroke: #1C4499;
    stroke-width: 5;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10; }
  svg.piramide .st1 {
    opacity: 0;
    animation-name: fadeVertical;
    animation-duration: 1s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards; }
  svg.piramide .st1_2 {
    opacity: 0;
    animation-name: fadeVertical;
    animation-duration: 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards; }
  svg.piramide .st1_3 {
    opacity: 0;
    animation-name: fadeVertical;
    animation-duration: 1s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards; }
  svg.piramide .st1_4 {
    opacity: 0;
    animation-name: fadeVertical;
    animation-duration: 1s;
    animation-delay: 0.7s;
    animation-fill-mode: forwards; }
  svg.piramide .st2_0,
  svg.piramide .st2_1,
  svg.piramide .st2_2,
  svg.piramide .st2_3,
  svg.piramide .st2_4,
  svg.piramide .st2_5,
  svg.piramide .st2_6,
  svg.piramide .st2_7 {
    fill: #686868;
    opacity: 0; }
  svg.piramide .st2_0 {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards; }
  svg.piramide .st2_1 {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-delay: 4.5s;
    animation-fill-mode: forwards; }
  svg.piramide .st2_2 {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-delay: 5.5s;
    animation-fill-mode: forwards; }
  svg.piramide .st2_3 {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-delay: 6.5s;
    animation-fill-mode: forwards; }
  svg.piramide .st2_4 {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-delay: 7.5s;
    animation-fill-mode: forwards; }
  svg.piramide .st2_5 {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-delay: 8.5s;
    animation-fill-mode: forwards; }
  svg.piramide .st2_6 {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-delay: 9.5s;
    animation-fill-mode: forwards; }
  svg.piramide .st2_7 {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-delay: 10.5s;
    animation-fill-mode: forwards; }
  svg.piramide .st3 {
    fill: none;
    stroke: #686868;
    stroke-miterlimit: 10;
    /*opacity: 0;
    animation-name: fadeHorizontal;
    animation-duration: 2s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;*/ }
  svg.piramide .st4 {
    font-family: 'Aspira';
    font-weight: 600;
    opacity: 0; }
  svg.piramide .st5 {
    font-size: 9px; }
  svg.piramide .st6 {
    font-family: 'Aspira';
    font-weight: 200;
    opacity: 0; }

svg.valores .st0,
svg.valores .st1,
svg.valores .st2,
svg.valores .st3,
svg.valores .st4,
svg.valores .st5,
svg.valores .st6 {
  display: none; }
  @media screen and (min-width: 768px) {
    svg.valores .st0,
    svg.valores .st1,
    svg.valores .st2,
    svg.valores .st3,
    svg.valores .st4,
    svg.valores .st5,
    svg.valores .st6 {
      display: block; } }
svg.valores .st0 {
  fill: #6F6B6A;
  opacity: 0; }
svg.valores .st1 {
  fill: none;
  stroke: #6F6B6A;
  stroke-miterlimit: 10; }
svg.valores .st2 {
  fill: none; }
svg.valores .st3 {
  font-family: 'Aspira';
  font-weight: 200; }
svg.valores .st4 {
  font-size: 0.95rem;
  opacity: 0; }
svg.valores .st5 {
  font-family: 'Aspira';
  font-weight: 700;
  opacity: 0; }
svg.valores .st6 {
  fill: #12100C;
  opacity: 0; }

svg.navegacion_logo .st0 {
  fill: #FFFFFF; }
svg.navegacion_logo .st1 {
  fill: #211E1B; }
svg.navegacion_logo .st2 {
  fill: #453B36; }
svg.navegacion_logo .st3 {
  fill-rule: evenodd;
  clip-rule: evenodd; }

.animacion .orden1 {
  animation-name: fade;
  animation-duration: 1.5s;
  animation-delay: 2.5s;
  animation-fill-mode: forwards; }
.animacion .orden2 {
  animation-name: fade;
  animation-duration: 1.5s;
  animation-delay: 3.5s;
  animation-fill-mode: forwards; }
.animacion .orden3 {
  animation-name: fade;
  animation-duration: 1s;
  animation-delay: 4.5s;
  animation-fill-mode: forwards; }
.animacion .orden4 {
  animation-name: fade;
  animation-duration: 1s;
  animation-delay: 5.5s;
  animation-fill-mode: forwards; }
.animacion .orden5 {
  animation-name: fade;
  animation-duration: 1s;
  animation-delay: 6.5s;
  animation-fill-mode: forwards; }
.animacion .orden6 {
  animation-name: fade;
  animation-duration: 1s;
  animation-delay: 7.5s;
  animation-fill-mode: forwards; }
.animacion .orden7 {
  animation-name: fade;
  animation-duration: 1s;
  animation-delay: 8.5s;
  animation-fill-mode: forwards; }
.animacion .orden8 {
  animation-name: fade;
  animation-duration: 1s;
  animation-delay: 9.5s;
  animation-fill-mode: forwards; }

svg.grafico_modelos .st0 {
  font-family: 'Aspira';
  font-style: italic;
  font-weight: 200; }
svg.grafico_modelos .st1 {
  font-size: 44.6317px; }
svg.grafico_modelos .st2 {
  font-family: 'Aspira';
  font-weight: 700; }
svg.grafico_modelos .st3 {
  font-family: 'Aspira';
  font-weight: 200; }
svg.grafico_modelos .st4 {
  font-size: 11.3px; }
svg.grafico_modelos .st5 {
  font-size: 28.3696px; }
svg.grafico_modelos .st6 {
  fill: none;
  stroke: #000000;
  stroke-miterlimit: 10; }
svg.grafico_modelos .st7 {
  fill: #F7F9F8; }
svg.grafico_modelos .st8 {
  fill: #B7BFC7; }
svg.grafico_modelos .st9 {
  fill: #DCE4E8; }
svg.grafico_modelos .st10 {
  opacity: 0.75;
  fill: #005CFF; }
svg.grafico_modelos .st11 {
  fill: #2D2D2D; }
svg.grafico_modelos .st12 {
  fill: #464E5C; }
svg.grafico_modelos .st13 {
  fill: #1D4498; }
svg.grafico_modelos .st14 {
  opacity: 0.3;
  fill: #DCE4E8; }
svg.grafico_modelos .st15 {
  filter: url(#Adobe_OpacityMaskFilter); }
svg.grafico_modelos .st16 {
  fill: #FFFFFF; }
svg.grafico_modelos .st17 {
  mask: url("#SVGID_1_"); }
svg.grafico_modelos .st18 {
  opacity: 0.3;
  fill: #B7BFC7; }
svg.grafico_modelos .st19 {
  filter: url(#Adobe_OpacityMaskFilter_1_); }
svg.grafico_modelos .st20 {
  mask: url("#SVGID_2_"); }
svg.grafico_modelos .st21 {
  fill: #163A7A; }

/*
	Animacion para los pilares que entran de forma horizontal, se le aplica una translacion en el eje X apra dar este efecto
	Junto con un cambio de opacidad, de igual forma para la vertical pero en el eje Y.
*/
.porque p.descripcion {
  width: 95%;
  margin: 2.5%;
  float: none;
  font-family: Aspira; }
  @media screen and (min-width: 768px) {
    .porque p.descripcion {
      width: 48%;
      margin: 0 1%;
      float: left; } }
.porque object {
  width: 95%;
  margin: 0 2.5%; }

/*
	Animacion para los pilares que entran de forma horizontal, se le aplica una translacion en el eje X apra dar este efecto
	Junto con un cambio de opacidad, de igual forma para la vertical pero en el eje Y.
	
*/
@-webkit-keyframes fadeHorizontal {
  0% {
    transform: translateX(-150px);
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeHorizontalInv {
  0% {
    transform: translateX(150px);
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeLineaHorizontal {
  0% {
    transform: translateX(-150px); }
  100% {
    opacity: 1; } }
/*
	Animacion para los pilares que caen de forma vertical
	35% es cuando los pilares se vuelven visibles y comienzan a caer, decrementar este valor para que se vean antes 
	e incrementar para que se vean despues
	
*/
@-webkit-keyframes fadeVertical {
  0% {
    transform: translateY(-250px); }
  35% {
    opacity: 0; }
  100% {
    opacity: 0.75; } }
@-webkit-keyframes fade {
  100% {
    opacity: 1; } }
/*----------------------------*/
@-moz-keyframes fadeHorizontal {
  0% {
    transform: translateX(-150px);
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeHorizontalInv {
  0% {
    transform: translateX(150px);
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeLineaHorizontal {
  0% {
    transform: translateX(-150px); }
  100% {
    opacity: 1; } }
@-moz-keyframes fadeVertical {
  0% {
    transform: translateY(-150px); }
  55% {
    opacity: 0; }
  100% {
    opacity: 0.75; } }
@-moz-keyframes fade {
  100% {
    opacity: 1; } }
.Animate-Draw {
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration: 1;
  animation-name: DrawLine;
  animation-duration: 4s;
  animation-delay: 0; }

#Draw-Frame1 {
  animation-delay: 2.5s;
  animation-duration: 1.5s;
  stroke-dashArray: 1500;
  stroke-dashoffset: 1500; }

#Draw-Frame2 {
  animation-delay: 3.5s;
  animation-duration: 1.5s;
  stroke-dashArray: 1500;
  stroke-dashoffset: 1500; }

#Draw-Frame3 {
  animation-delay: 4.5s;
  animation-duration: 1.5s;
  stroke-dashArray: 1500;
  stroke-dashoffset: 1500; }

#Draw-Frame4 {
  animation-delay: 5.5s;
  animation-duration: 1.5s;
  stroke-dashArray: 1500;
  stroke-dashoffset: 1500; }

#Draw-Frame5 {
  animation-delay: 6.5s;
  animation-duration: 1.5s;
  stroke-dashArray: 1500;
  stroke-dashoffset: 1500; }

#Draw-Frame6 {
  animation-delay: 7.5s;
  animation-duration: 1.5s;
  stroke-dashArray: 1500;
  stroke-dashoffset: 1500; }

#Draw-Frame7 {
  animation-delay: 8.5s;
  animation-duration: 1.5s;
  stroke-dashArray: 1500;
  stroke-dashoffset: 1500; }

#Draw-Frame8 {
  animation-delay: 9.5s;
  animation-duration: 1.5s;
  stroke-dashArray: 1500;
  stroke-dashoffset: 1500; }

@-moz-keyframes DrawLine {
  to {
    stroke-dashOffset: 0; } }
@-webkit-keyframes DrawLine {
  to {
    stroke-dashOffset: 0; } }
@-ms-keyframes fadeHorizontal {
  0% {
    transform: translateX(-150px);
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes fadeHorizontalInv {
  0% {
    transform: translateX(150px);
    opacity: 0; }
  100% {
    opacity: 1; } }
@-ms-keyframes fadeLineaHorizontal {
  0% {
    transform: translateX(-150px); }
  100% {
    opacity: 1; } }
@-ms-keyframes fadeVertical {
  0% {
    transform: translateY(-150px); }
  55% {
    opacity: 0; }
  100% {
    opacity: 0.75; } }
@-ms-keyframes fade {
  100% {
    opacity: 1; } }
@-ms-keyframes DrawLine {
  to {
    stroke-dashOffset: 0; } }
.mision {
  width: 100%;
  background: #1c4499; }
  .mision .mision-center {
    padding: 10px;
    text-align: center;
    box-sizing: border-box; }
    .mision .mision-center object,
    .mision .mision-center p.title {
      vertical-align: middle;
      display: inline-block; }
    .mision .mision-center p.title {
      font-family: Aspira;
      font-weight: 200;
      font-style: italic;
      text-transform: uppercase;
      color: white;
      font-size: 5.7vw;
      margin: 0; }
    .mision .mision-center p.descripcion {
      width: 95%;
      margin: 2.5%;
      float: none;
      font-family: Aspira;
      color: white; }
    .mision .mision-center object {
      width: 6%;
      margin: 1% 0; }

.valores .texto_valores {
  font-family: Aspira;
  text-align: center;
  display: block; }
  @media screen and (min-width: 768px) {
    .valores .texto_valores {
      display: none; } }

.clientes .clientes_img {
  width: 95%;
  margin: 0 2.5%;
  display: inline-block; }
  .clientes .clientes_img img {
    width: 10%;
    margin: 1%;
    vertical-align: middle; }

.socios_com object {
  width: 50%;
  margin: 0 auto;
  display: block; }

.contact-dropdown-services dd,
.contact-dropdown-services dt {
  margin: 0px;
  padding: 0px; }

.contact-dropdown-services ul {
  margin: -1px 0 0 0; }

.contact-dropdown-services dd {
  position: relative; }

.contact-dropdown-services a,
.contact-dropdown-services a:visited {
  color: #fff;
  text-decoration: none;
  outline: none;
  font-size: 12px; }

.contact-dropdown-services dt a {
  background-color: #1c4499;
  display: block;
  padding: 8px 20px 5px 10px;
  min-height: 25px;
  line-height: 24px;
  overflow: hidden;
  border: 0;
  width: 280px; }

.contact-dropdown-services dt a span,
.multiSel span {
  cursor: pointer;
  display: inline-block;
  padding: 0 3px 2px 0; }

.contact-dropdown-services dd ul {
  background-color: #1c4499;
  border: 0;
  color: #fff;
  display: none;
  left: 0px;
  padding: 2px 15px 2px 5px;
  position: absolute;
  top: 2px;
  width: 300px;
  list-style: none;
  height: 100px;
  overflow: auto; }

.contact-dropdown-services span.value {
  display: none; }

.contact-dropdown-services dd ul li a {
  padding: 5px;
  display: block; }

.contact-dropdown-services dd ul li a:hover {
  background-color: #fff; }

.servicio {
  width: 100%; }
  .servicio:nth-child(odd) {
    background: white; }
  .servicio:nth-child(even) {
    background: rgba(104, 104, 104, 0.25); }

.serv_modelos object {
  width: 100%;
  max-width: 1100px;
  display: block;
  margin: auto; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px; }

/*# sourceMappingURL=style.css.map */
