/*
	Animacion para los pilares que entran de forma horizontal, se le aplica una translacion en el eje X apra dar este efecto
	Junto con un cambio de opacidad, de igual forma para la vertical pero en el eje Y.

*/
@-webkit-keyframes fadeHorizontal {
    0% {transform: translateX(-150px);opacity: 0;}
    100%  {opacity:1;}
}

@-webkit-keyframes fadeHorizontalInv {
    0% {transform: translateX(150px);opacity: 0;}
    100%  {opacity:1;}
}

@-webkit-keyframes fadeLineaHorizontal {
    0% {transform: translateX(-150px);}
    100%  {opacity:1;}
}
/*
	Animacion para los pilares que caen de forma vertical
	35% es cuando los pilares se vuelven visibles y comienzan a caer, decrementar este valor para que se vean antes
	e incrementar para que se vean despues

*/
@-webkit-keyframes fadeVertical {
    0% {transform: translateY(-250px);}
	35% {opacity:0;}
    100%  {opacity:0.75;}
}

@-webkit-keyframes fade {
    100%  {opacity:1;}
}
/*--------ANIMACION DE NUESTRA MISIÓN-----------*/
@keyframes RedMision{
  0%     {opacity: 0;}
  100%   {opacity: 1;}
}
@keyframes TiendaShow{
  0%     {opacity: 0;}
  100%   {opacity: 1;}
}
@keyframes GraficaZoom{
  0%     {opacity: 0;}
  100%   {
    opacity: 1;
    width: 1250px;
    height: 500px; 
    border: 1px solid black;
  }
}
@keyframes DivisasShow{
  0%     {opacity: 0;}
  100%   {opacity: 1;}
}
//--------------------------------

@-moz-keyframes fadeHorizontal {
    0% {transform: translateX(-150px);opacity: 0;}
    100%  {opacity:1;}
}

@-moz-keyframes fadeHorizontalInv {
    0% {transform: translateX(150px);opacity: 0;}
    100%  {opacity:1;}
}

@-moz-keyframes fadeLineaHorizontal {
    0% {transform: translateX(-150px);}
    100%  {opacity:1;}
}

@-moz-keyframes fadeVertical {
    0% {transform: translateY(-150px);}
	55% {opacity:0;}
    100%  {opacity:0.75;}
}

@-moz-keyframes fade {
    100%  {opacity:1;}
}


.Animate-Draw {
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration: 1;

  animation-name: DrawLine;
  animation-duration: 4s;
  animation-delay: 0;
}


#Draw-Frame1 {
  animation-delay: $initial_time;
  animation-duration: $interval_time;
  stroke-dashArray: 1500;
  stroke-dashoffset: 1500;
}
#Draw-Frame2 {
  animation-delay: $initial_time + $aditional_time;
  animation-duration: $interval_time;
  stroke-dashArray: 1500;
  stroke-dashoffset: 1500;
}
#Draw-Frame3 {
  animation-delay: $initial_time + ($aditional_time*2);
  animation-duration: $interval_time;
  stroke-dashArray: 1500;
  stroke-dashoffset: 1500;
}
#Draw-Frame4 {
  animation-delay: $initial_time + ($aditional_time * 3);
  animation-duration: $interval_time;
  stroke-dashArray: 1500;
  stroke-dashoffset: 1500;
}
#Draw-Frame5 {
  animation-delay: $initial_time + ($aditional_time * 4);
  animation-duration: $interval_time;
  stroke-dashArray: 1500;
  stroke-dashoffset: 1500;
}
#Draw-Frame6 {
  animation-delay: $initial_time + ($aditional_time * 5);
  animation-duration: $interval_time;
  stroke-dashArray: 1500;
  stroke-dashoffset: 1500;
}
#Draw-Frame7 {
  animation-delay: $initial_time +($aditional_time * 6);
  animation-duration: $interval_time;
  stroke-dashArray: 1500;
  stroke-dashoffset: 1500;
}
#Draw-Frame8 {
  animation-delay: $initial_time + ($aditional_time * 7);
  animation-duration: $interval_time;
  stroke-dashArray: 1500;
  stroke-dashoffset: 1500;
}
#Logo {
  width: 150%;
  height: 100%;
  position: absolute;
  top: 0; right: -25%; bottom: 0; left: -25%;
  margin: auto;
  display:block;
  fill: #aa7f3d;
  fill: url("#MyGradient");
  stroke: #EEBE7B;
  stroke-miterlimit: 5;
}

#Draw-Mark {
  stroke-dashArray: 1100;
  stroke-dashoffset: 1100;
}

#Draw-Frame {
  animation-delay: .5s, 3.5s, 3.5s;
  animation-duration: 3.5s, 1s, 1s;
  stroke-dashArray: 1500;
  stroke-dashoffset: 1500;
}

#Draw-Text {
  animation-delay: 2s, 3.5s, 3.5s;
  animation-duration: 2s, 1s, 1s;
  stroke-dashArray: 300;
  stroke-dashoffset: 300;
  //animation-duration: 4s;
}

@-moz-keyframes FadeStroke {
  to { stroke-opacity: 0; }
}

@-webkit-keyframes FillIn {
  from { fill-opacity: 0; }
  to { fill-opacity: 1; }
}
@-ms-keyframes FadeStroke {
  to { stroke-opacity: 0; }
}

@-ms-keyframes FillIn {
  from { fill-opacity: 0; }
  to { fill-opacity: 1; }
}
@-ms-keyframes FadeStroke {
  to { stroke-opacity: 0; }
}
@-webkit-keyframes FadeStroke {
  to { stroke-opacity: 0; }
}

@-moz-keyframes FillIn {
  from { fill-opacity: 0; }
  to { fill-opacity: 1; }
}
@-moz-keyframes DrawLine {
  to { stroke-dashOffset: 0; }
}
@-webkit-keyframes DrawLine {
  to { stroke-dashOffset: 0; }
}

@-ms-keyframes fadeHorizontal {
    0% {transform: translateX(-150px);opacity: 0;}
    100%  {opacity:1;}
}

@-ms-keyframes fadeHorizontalInv {
    0% {transform: translateX(150px);opacity: 0;}
    100%  {opacity:1;}
}

@-ms-keyframes fadeLineaHorizontal {
    0% {transform: translateX(-150px);}
    100%  {opacity:1;}
}

@-ms-keyframes fadeVertical {
    0% {transform: translateY(-150px);}
	55% {opacity:0;}
    100%  {opacity:0.75;}
}

@-ms-keyframes fade {
    100%  {opacity:1;}
}

@-ms-keyframes DrawLine {
  to { stroke-dashOffset: 0; }
}
