.clientes {
  .clientes_img{
    width: 95%;
    margin: 0 2.5%;
    display: inline-block;
    img{
      width: 13%;
      margin: 1.6%;
      display: inline-block;
      vertical-align: middle;
      transition: .5s;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
      &:hover{
        -webkit-filter: none;
        filter: none;
      }
    }
  }
}
