.clientes {
    padding-bottom: 55px;
    .clientes_img {
        width: 95%;
        margin: 0 2.5%;
        display: inline-block;
        text-align: center;
        img {
            width: 30%;
            display: inline-block;
            vertical-align: middle;
            transition: 0.5s;
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            @media screen and (min-width: $ipad_mediaquery) {
                width: 14%;
                border-bottom: 1px solid;
                line-height: 10px;
            }
            &:hover {
                -webkit-filter: none;
                filter: none;
            }
        }
        img.top{
                border-bottom: none;
        }
        hr.vertical {
            border : 0;
            display: none;
            vertical-align: middle;
            background-image: -webkit-linear-gradient(top, #000000, #000000, #000000);
            @media screen and (min-width: $ipad_mediaquery) {
                display: inline-block;
                height : 140px;
                width : 1px;
            }
        }
    }
}