.ubicacion {
    width  : 100%;
    display: block;
    margin : 70px 0;
    overflow: auto;
}
.contacto {
    width         : 98%;
    margin        : 10px auto;
    font-family   : 'Aspira';
    display       : block;
    max-width     : 550px;
    vertical-align: top;
    ul {
        list-style-type: none;
        padding        : 0;
    }
    input,
    textarea {
        background: $gris3_aori_50;
    }
    .contact-dropdown-services dt a{
        text-transform: uppercase;
    }
    .contact-dropdown-services dt a,
    input,
    textarea {
        width     : 100%;
        padding   : 10px;
        margin    : 10px 0;
        border    : 0;
        box-sizing: border-box;
        text-align: center;
    }
    .contact-dropdown-services {
        dd,
        dt {
            margin : 0;
            padding: 0;
        }
        ul {
            margin: -1px 0 0;
        }
        dd {
            position: relative;
            ul {
                background-color: $gris1_aori_100;
                border          : 0;
                color           : #fff;
                display         : none;
                left            : 0;
                padding         : 2px 15px 2px 5px;
                position        : absolute;
                top             : -10px;
                width           : 97%;
                list-style      : none;
                height          : 150px;
                overflow        : auto;
                li a {
                    padding: 5px;
                    display: block;
                    &:hover {
                        background-color: #fff;
                    }
                }
            }
            input {
                width     : 10%;
                box-sizing: border-box;
            }
        }
        dt a {
            background-color: $gris1_aori_100;
            display         : block;
            padding         : 8px 20px 5px 10px;
            min-height      : 25px;
            line-height     : 24px;
            overflow        : hidden;
            .mutliSelect span,
            span {
                cursor : pointer;
                display: inline-block;
                padding: 0 3px 2px 0;
            }
        }
        a {
            &,
            &:visited {
                color          : #fff;
                text-decoration: none;
                outline        : none;
                font-size      : 12px;
            }
        }
        span.value {
            display: none;
        }
    }
    button {
        padding   : 10px 20px;
        background: $gris1_aori_100;
        border    : none;
        color     : white;
        float     : right;
        text-align: center;
        width     : 100%;
        @media screen and (min-width: $ipad_mediaquery) {
            width: 30%;
            margin: 0 35%;

        }
    }
    /*Estilo de placeholder*/
    ::-webkit-input-placeholder {
        color: black;
        text-align: center;
        text-transform: uppercase;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: black;
        text-align: center;
        text-transform: uppercase;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
        color: black;
        text-align: center;
        text-transform: uppercase;
    }
    :-ms-input-placeholder {
        color: black;
        text-align: center;
        text-transform: uppercase;
    }
    input[placeholder], [placeholder], *[placeholder] {
        color: black;
        text-align: center;
        text-transform: uppercase;
    }
}
