.ubicacion {
    width  : 100%;
    display: block;
    margin : 0;
    margin-bottom: 70px;
    overflow: auto;
}
.msg-left{
    text-align: center;
}
p.italico{
    font-style: italic;
}
.contacto {
    width         : 98%;
    margin        : 10px auto;
    padding-bottom: 80px;
    font-family   : 'Aspira';
    display       : block;
    max-width     : 550px;
    vertical-align: top;
    ul {
        list-style-type: none;
        padding        : 0;
    }
    input,
    textarea {
        background: #FFFFFF;
    }
    .contact-dropdown-services dt a{
        text-transform: uppercase;
    }
    .contact-dropdown-services dt a,
    input,
    textarea {
        width     : 100%;
        padding   : 10px;
        margin    : 10px 0;
        border    : 0;
        box-sizing: border-box;
        text-align: center;
    }
    input[type=date]{
        width: 25%;
        padding: 0px;
    }
    .contact-dropdown-services {
        dd,
        dt {
            margin : 0;
            padding: 0;
        }
        ul {
            margin: -1px 0 0;
        }
        dd {
            position: relative;
            ul {
                background-color: $gris1_aori_100;
                border          : 0;
                color           : #fff;
                display         : none;
                left            : 0;
                padding         : 2px 15px 2px 5px;
                position        : absolute;
                top             : -10px;
                width           : 97%;
                list-style      : none;
                height          : 150px;
                overflow        : auto;
                li a {
                    padding: 5px;
                    display: block;
                    &:hover {
                        background-color: #fff;
                    }
                }
            }
            input {
                width     : 10%;
                box-sizing: border-box;
            }
        }
        dt a {
            background-color: $gris1_aori_100;
            display         : block;
            padding         : 8px 20px 5px 10px;
            min-height      : 25px;
            line-height     : 24px;
            overflow        : hidden;            
            .mutliSelect span,
            span {
                width: 95%;
                text-align: center;
                cursor : pointer;
                display: inline-block;
                padding: 0 3px 2px 0;
            }
            i{
                cursor: pointer;
                font-size: 2em;
            }

        }
        a {
            &,
            &:visited {
                color          : #fff;
                text-decoration: none;
                outline        : none;
                font-size      : 12px;
            }
        }
        span.value {
            display: none;
        }
    }
    button {
        cursor: pointer;
        padding   : 10px 20px;
        background: $gris1_aori_100;
        border    : none;
        color     : white;
        text-align: center;
        font-style: italic;
        font-weight: bold;
        @media screen and (min-width: $ipad_mediaquery) {
            width: 30%;
            margin: 0 35%;
        }
    }
    .label{
        background-color: #FFFFFF;
        font-size: 0.8em;
        text-align: center;
    }
    .sub-label{
        text-align: center;
        font-size: 0.6em;
    }
    li > span{
        font-size: 0.6em;
    }
    /*Estilo de placeholder*/
    ::-webkit-input-placeholder {
        color: black;
        text-align: center;
        text-transform: uppercase;
    }
    :-moz-placeholder { /* Firefox 18- */
        color: black;
        text-align: center;
        text-transform: uppercase;
    }
    ::-moz-placeholder {  /* Firefox 19+ */
        color: black;
        text-align: center;
        text-transform: uppercase;
    }
    :-ms-input-placeholder {
        color: black;
        text-align: center;
        text-transform: uppercase;
    }
    input[placeholder], [placeholder], *[placeholder] {
        color: black;
        text-align: center;
        text-transform: uppercase;
    }
    [placeholder]:focus::-webkit-input-placeholder {
        transition: 0s; 
        opacity: 0;
    }
}
.contacto-fuente{
    font-family: 'Aspira';
    font-size: 2rem;
    color: $gris1_aori_50;
    font-weight: 600;
}
.direcciones{
    
    margin     : auto;
    font-family: 'Aspira';
    text-align: center;
    font-size : 0.8rem;
    color     : #2c3e50;
    width     : 100%;
    cursor    : pointer;
    .something {
        text-transform: uppercase;
        padding       : 1px 10px;
        i {
            color: $azul2_aori_100;
            font-size: 1.6rem;
        }
        .nombre {
            font-weight: 700;
        }
        .direccion,
        .telefono {
            font-weight: 200;
        }
    }
}