svg.circle_shape {
    .st0 {
        fill: $gris_aori;
    }
    .st1 {
        fill: $azul_aori;
    }
}
svg.logo_principal {
    .st0 {
        fill: white;
    }
}
svg.nuestra_mision {
    .st0 {
        fill: white;
    }
}
svg.piramide {
    .st0,
	.st0_1,
	.st0_2,
	.st0_3{
        fill: none;
        stroke: #1C4499;
        stroke-width: 5;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;

    }
	/*aca iban las clases*/
	.st0 {
        opacity: 0;
        animation-name: fadeHorizontal;
        animation-duration: 1s;
        animation-delay: .0s;
		animation-fill-mode: forwards;
    }
    .st0_1 {
        opacity: 0;
        animation-name: fadeHorizontal;
        animation-duration: 1s;
        animation-delay: 0.1s;
		animation-fill-mode: forwards;
    }
    .st0_2 {
        opacity: 0;
        animation-name: fadeHorizontal;
        animation-duration: 1s;
        animation-delay: 0.2s;
		animation-fill-mode: forwards;
    }
	.st0_3 {
        opacity: 0;
        animation-name: fadeHorizontalInv;
        animation-duration: 1s;
        animation-delay: 1.5s;
		animation-fill-mode: forwards;
    }
    .st1,
    .st1_2,
    .st1_3,
    .st1_4 {
        fill: none;
        stroke: #1C4499;
        stroke-width: 5;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
    }
    .st1 {
        opacity: 0;
        animation-name: fadeVertical;
        animation-duration: 1s;
        animation-delay: .4s;
        animation-fill-mode: forwards;
    }
    .st1_2 {
        opacity: 0;
        animation-name: fadeVertical;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
    }
    .st1_3 {
        opacity: 0;
        animation-name: fadeVertical;
        animation-duration: 1s;
        animation-delay: 0.6s;
        animation-fill-mode: forwards;
    }
    .st1_4 {
        opacity: 0;
        animation-name: fadeVertical;
        animation-duration: 1s;
        animation-delay: 0.7s;
        animation-fill-mode: forwards;
    }
    .st2 {
        opacity: 0;
        fill: #686868;
        animation-name: fade;
        animation-duration: 1.5s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
    }
    .st3 {
        fill: none;
        stroke: #686868;
        stroke-miterlimit: 10;
        /*opacity: 0;
        animation-name: fadeHorizontal;
        animation-duration: 2s;
        animation-delay: 2.5s;
        animation-fill-mode: forwards;*/
    }
    .st4 {
        font-family: 'Aspira';
        font-weight: 600;
        opacity: 0;
        animation-name: fadeHorizontal;
        animation-duration: 1s;
        animation-delay: 3.5s;
        animation-fill-mode: forwards;
    }
    .st5 {
        font-size: 9px;
    }
    .st6 {
        font-family: 'Aspira';
        font-weight: 200;
        opacity: 0;
        animation-name: fadeHorizontal;
        animation-duration: 1s;
        animation-delay: 3.5s;
        animation-fill-mode: forwards;
    }
}
svg.valores{
      .st0 {
          fill: #6F6B6A;
      }
      .st1 {
          fill: none;
          stroke: #6F6B6A;
          stroke-miterlimit: 10;
      }
      .st2 {
          fill: none;
      }
      .st3 {
          font-family: 'Aspira-Light';
      }
      .st4 {
          font-size: 15.0821;
      }
      .st5 {
          font-family: 'Aspira-Bold';
      }
      .st6 {
          fill: #12100C;
      }
}

/*
	Animacion para los pilares que entran de forma horizontal, se le aplica una translacion en el eje X apra dar este efecto
	Junto con un cambio de opacidad, de igual forma para la vertical pero en el eje Y.
*/
