svg.circle_shape {
    .st0 {
        fill: $gris_aori;
    }
    .st1 {
        fill: $azul_aori;
    }
}
svg.logo_principal {
    .st0 {
        fill: white;
    }
}
svg.nuestra_mision {
    .st0 {
        fill: white;
    }
}
svg.piramide {
    .st0,
    .st0_1,
    .st0_2,
    .st0_3 {
        fill: none;
        stroke: #1C4499;
        stroke-width: 5;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
    }
    /*aca iban las clases*/
    .st0 {
        opacity: 0;
        animation-name: fadeHorizontal;
        animation-duration: 1s;
        animation-delay: 0.0s;
        animation-fill-mode: forwards;
    }
    .st0_1 {
        opacity: 0;
        animation-name: fadeHorizontal;
        animation-duration: 1s;
        animation-delay: 0.1s;
        animation-fill-mode: forwards;
    }
    .st0_2 {
        opacity: 0;
        animation-name: fadeHorizontal;
        animation-duration: 1s;
        animation-delay: 0.2s;
        animation-fill-mode: forwards;
    }
    .st0_3 {
        opacity: 0;
        animation-name: fadeHorizontalInv;
        animation-duration: 1s;
        animation-delay: 1.5s;
        animation-fill-mode: forwards;
    }
    .st1,
    .st1_2,
    .st1_3,
    .st1_4 {
        fill: none;
        stroke: #1C4499;
        stroke-width: 5;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
    }
    .st1 {
        opacity: 0;
        animation-name: fadeVertical;
        animation-duration: 1s;
        animation-delay: 0.4s;
        animation-fill-mode: forwards;
    }
    .st1_2 {
        opacity: 0;
        animation-name: fadeVertical;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-fill-mode: forwards;
    }
    .st1_3 {
        opacity: 0;
        animation-name: fadeVertical;
        animation-duration: 1s;
        animation-delay: 0.6s;
        animation-fill-mode: forwards;
    }
    .st1_4 {
        opacity: 0;
        animation-name: fadeVertical;
        animation-duration: 1s;
        animation-delay: 0.7s;
        animation-fill-mode: forwards;
    }
    .st2_0,
    .st2_1,
    .st2_2,
    .st2_3,
    .st2_4,
    .st2_5,
    .st2_6,
    .st2_7 {
        fill: #686868;
        opacity: 0;
    }
    .st2_0 {
        animation-name: fade;
        animation-duration: $interval_time;
        animation-delay: $initial_time + ($aditional_time);
        animation-fill-mode: forwards;
    }
    .st2_1 {
        animation-name: fade;
        animation-duration: $interval_time;
        animation-delay: $initial_time + ($aditional_time*2);
        animation-fill-mode: forwards;
    }
    .st2_2 {
        animation-name: fade;
        animation-duration: $interval_time;
        animation-delay: $initial_time + ($aditional_time*3);
        animation-fill-mode: forwards;
    }
    .st2_3 {
        animation-name: fade;
        animation-duration: $interval_time;
        animation-delay: $initial_time + ($aditional_time*4);
        animation-fill-mode: forwards;
    }
    .st2_4 {
        animation-name: fade;
        animation-duration: $interval_time;
        animation-delay: $initial_time + ($aditional_time*5);
        animation-fill-mode: forwards;
    }
    .st2_5 {
        animation-name: fade;
        animation-duration: $interval_time;
        animation-delay: $initial_time + ($aditional_time*6);
        animation-fill-mode: forwards;
    }
    .st2_6 {
        animation-name: fade;
        animation-duration: $interval_time;
        animation-delay: $initial_time + ($aditional_time*7);
        animation-fill-mode: forwards;
    }
    .st2_7 {
        animation-name: fade;
        animation-duration: $interval_time;
        animation-delay: $initial_time + ($aditional_time*8);
        animation-fill-mode: forwards;
    }
    .st3 {
        fill: none;
        stroke: #686868;
        stroke-miterlimit: 10;
        /*opacity: 0;
        animation-name: fadeHorizontal;
        animation-duration: 2s;
        animation-delay: 2.5s;
        animation-fill-mode: forwards;*/
    }
    .st4 {
        font-family: 'Aspira';
        font-weight: 600;
        opacity: 0;
    }
    .st5 {
        font-size: 9px;
    }
    .st6 {
        font-family: 'Aspira';
        font-weight: 200;
        opacity: 0;
    }
}
svg.valores {
    .st0,
    .st1,
    .st2,
    .st3,
    .st4,
    .st5,
    .st6 {
        display: none;
        @media screen and (min-width: $ipad_mediaquery) {
            display: block;
        }
    }
    .st0 {
        fill: #6F6B6A;
        opacity: 0;
    }
    .st1 {
        fill: none;
        stroke: #6F6B6A;
        stroke-miterlimit: 10;
    }
    .st2 {
        fill: none;
    }
    .st3 {
        font-family: 'Aspira';
        font-weight: 200;
    }
    .st4 {
        font-size: 0.95rem;
        opacity: 0;
    }
    .st5 {
        font-family: 'Aspira';
        font-weight: 700;
        opacity: 0;
    }
    .st6 {
        fill: #12100C;
        opacity: 0;
    }
}
svg.navegacion_logo {
    .st0 {
        fill: #FFFFFF;
    }
    .st1 {
        fill: #211E1B;
    }
    .st2 {
        fill: #453B36;
    }
    .st3 {
        fill-rule: evenodd;
        clip-rule: evenodd;
    }
}
.animacion {
    .orden1 {
        animation-name: fade;
        animation-duration: $interval_time;
        animation-delay: $interval_time + ($aditional_time);
        animation-fill-mode: forwards;
    }
    .orden2 {
        animation-name: fade;
        animation-duration: $interval_time;
        animation-delay: $interval_time + ($aditional_time*2);
        animation-fill-mode: forwards;
    }
    .orden3 {
        animation-name: fade;
        animation-duration: $aditional_time;
        animation-delay: $interval_time + ($aditional_time*3);
        animation-fill-mode: forwards;
    }
    .orden4 {
        animation-name: fade;
        animation-duration: $aditional_time;
        animation-delay: $interval_time + ($aditional_time*4);
        animation-fill-mode: forwards;
    }
    .orden5 {
        animation-name: fade;
        animation-duration: $aditional_time;
        animation-delay: $interval_time + ($aditional_time*5);
        animation-fill-mode: forwards;
    }
    .orden6 {
        animation-name: fade;
        animation-duration: $aditional_time;
        animation-delay: $interval_time + ($aditional_time*6);
        animation-fill-mode: forwards;
    }
    .orden7 {
        animation-name: fade;
        animation-duration: $aditional_time;
        animation-delay: $interval_time + ($aditional_time*7);
        animation-fill-mode: forwards;
    }
    .orden8 {
        animation-name: fade;
        animation-duration: $aditional_time;
        animation-delay: $interval_time + ($aditional_time*8);
        animation-fill-mode: forwards;
    }
}
svg.grafico_modelos {
    .st0 {
        font-family: 'Aspira';
        font-style: italic;
        font-weight: 200;
    }
    .st1 {
        font-size: 44.6317px;
    }
    .st2 {
        font-family: 'Aspira';
        font-weight: 700;
    }
    .st3 {
        font-family: 'Aspira';
        font-weight: 200;
    }
    .st4 {
        font-size: 11.3px;
    }
    .st5 {
        font-size: 28.3696px;
    }
    .st6 {
        fill: none;
        stroke: #000000;
        stroke-miterlimit: 10;
    }
    .st7 {
        fill: #F7F9F8;
    }
    .st8 {
        fill: #B7BFC7;
    }
    .st9 {
        fill: #DCE4E8;
    }
    .st10 {
        opacity: 0.75;
        fill: #005CFF;
    }
    .st11 {
        fill: #2D2D2D;
    }
    .st12 {
        fill: #464E5C;
    }
    .st13 {
        fill: #1D4498;
    }
    .st14 {
        opacity: 0.3;
        fill: #DCE4E8;
    }
    .st15 {
        filter:url(#Adobe_OpacityMaskFilter);
    }
    .st16 {
        fill: #FFFFFF;
    }
    .st17 {
        mask: url("#SVGID_1_");
    }
    .st18 {
        opacity: 0.3;
        fill: #B7BFC7;
    }
    .st19 {
        filter:url(#Adobe_OpacityMaskFilter_1_);
    }
    .st20 {
        mask: url("#SVGID_2_");
    }
    .st21 {
        fill: #163A7A;
    }
}
svg.grafico_franquicia {
    .st0 {
        font-family: 'Aspira';
        font-weight: 200;
        font-style: italic;
    }
    .st1 {
        font-size: 44.6317px;
    }
    .st2 {
        font-family: 'Aspira';
        font-weight: 700;
    }
    .st3 {
        font-family: 'Aspira';
        font-weight: 200;
    }
    .st4 {
        font-size: 28.3696px;
    }
    .st5 {
        fill: none;
        stroke: #000000;
        stroke-miterlimit: 10;
    }
    .st6 {
        font-size: 11.3px;
    }
    .st7 {
        filter:url(#Adobe_OpacityMaskFilter);
    }
    .st8 {
        fill: #FFFFFF;
        stroke: #000000;
        stroke-miterlimit: 10;
    }
    .st9 {
        mask: url("#SVGID_1_");
    }
    .st10 {
        opacity: 0.2;
    }
    .st11 {
        fill: #1D4498;
    }
    .st12 {
        opacity: 0.7;
        fill: #1D4498;
    }
    .st13 {
        fill: #FFFFFF;
    }
    .st14 {
        fill: none;
        stroke: #E76A3E;
        stroke-width: 2.8514;
        stroke-miterlimit: 10;
    }
    .st15 {
        fill: #A5A3A9;
    }
    .st16 {
        fill: #39343A;
    }
    .st17 {
        fill: #7ECDCE;
    }
    .st18 {
        fill: none;
        stroke: #FFFFFF;
        stroke-width: 3.2901;
        stroke-miterlimit: 10;
    }
    .st19 {
        opacity: 0.2;
        fill: #FFFFFF;
    }
    .st20 {
        fill: none;
        stroke: #FFFFFF;
        stroke-width: 2.4128;
        stroke-miterlimit: 10;
    }
    .st21 {
        fill: #E0DFE5;
    }
    .st22 {
        fill: #E76A3E;
    }
    .st23 {
        opacity: 0.1;
        fill: #FFFFFF;
    }
    .st24 {
        fill: none;
        stroke: #E76A3E;
        stroke-width: 2.0759;
        stroke-miterlimit: 10;
    }
    .st25 {
        fill: none;
        stroke: #FFFFFF;
        stroke-width: 2.3953;
        stroke-miterlimit: 10;
    }
    .st26 {
        fill: none;
        stroke: #FFFFFF;
        stroke-width: 1.7566;
        stroke-miterlimit: 10;
    }
    .st27 {
        fill: none;
        stroke: #E76A3E;
        stroke-width: 1.5406;
        stroke-miterlimit: 10;
    }
    .st28 {
        fill: none;
        stroke: #FFFFFF;
        stroke-width: 1.7777;
        stroke-miterlimit: 10;
    }
    .st29 {
        fill: none;
        stroke: #FFFFFF;
        stroke-width: 1.3036;
        stroke-miterlimit: 10;
    }
    .st30 {
        fill: none;
        stroke: #E76A3E;
        stroke-width: 0.9973;
        stroke-miterlimit: 10;
    }
    .st31 {
        fill: none;
        stroke: #FFFFFF;
        stroke-width: 1.1508;
        stroke-miterlimit: 10;
    }
    .st32 {
        fill: none;
        stroke: #FFFFFF;
        stroke-width: 0.8439;
        stroke-miterlimit: 10;
    }
    .st33 {
        fill: none;
        stroke: #E76A3E;
        stroke-width: 0.8118;
        stroke-miterlimit: 10;
    }
    .st34 {
        fill: none;
        stroke: #FFFFFF;
        stroke-width: 0.9367;
        stroke-miterlimit: 10;
    }
    .st35 {
        fill: none;
        stroke: #FFFFFF;
        stroke-width: 0.6869;
        stroke-miterlimit: 10;
    }
    .st36 {
        fill: none;
        stroke: #E76A3E;
        stroke-width: 2.6415;
        stroke-miterlimit: 10;
    }
    .st37 {
        fill: none;
        stroke: #FFFFFF;
        stroke-width: 3.0479;
        stroke-miterlimit: 10;
    }
    .st38 {
        fill: none;
        stroke: #FFFFFF;
        stroke-width: 2.2351;
        stroke-miterlimit: 10;
    }
    .st39 {
        fill: #009245;
    }
    .st40 {
        fill: #4D4D4D;
    }
    .st41 {
        fill: #29ABE2;
    }
    .st42 {
        fill: #A3DBFF;
    }
    .st43 {
        fill: #58595B;
    }
}
svg.grafico_marketing {
    .st0 {
        font-family: 'Aspira';
        font-weight: 200;
        font-style: italic;
    }
    .st1 {
        font-size: 44.6317px;
    }
    .st2 {
        font-family: 'Aspira';
        font-weight: 700;
    }
    .st3 {
        font-family: 'Aspira';
        font-weight: 200;
    }
    .st4 {
        font-size: 11.3px;
    }
    .st5 {
        font-size: 28.3696px;
    }
    .st6 {
        fill: none;
        stroke: #000000;
        stroke-miterlimit: 10;
    }
    .st7 {
        filter:url(#Adobe_OpacityMaskFilter);
    }
    .st8 {
        fill: #FFFFFF;
        stroke: #000000;
        stroke-miterlimit: 10;
    }
    .st9 {
        mask: url("#SVGID_1_");
    }
    .st10 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #163A7A;
    }
    .st11 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FFFFFF;
    }
    .st12 {
        opacity: 0.75;
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #005CFF;
    }
    .st13 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #00454D;
    }
    .st14 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #EDEDED;
    }
    .st15 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #1A1A1A;
    }
    .st16 {
        opacity: 0.23;
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FFFFFF;
    }
    .st17 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #12B5B5;
    }
    .st18 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #1D4498;
    }
    .st19 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #636363;
    }
    .st20 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #FC0D31;
    }
    .st21 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #F2F2F2;
    }
    .st22 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #2D2D2D;
    }
    .st23 {
        fill-rule: evenodd;
        clip-rule: evenodd;
        fill: #CFCFBF;
    }
    .st24 {
        opacity: 0.75;
    }
    .st25 {
        fill: #005CFF;
    }
    .st26 {
        fill-rule: evenodd;
        clip-rule: evenodd;
    }
    .st27 {
        opacity: 0.4;
    }
    .st28 {
        fill: #B7BFC7;
    }
    .st29 {
        fill: #1D4498;
    }
    .st30 {
        fill: #EDEDED;
    }
}
/*
	Animacion para los pilares que entran de forma horizontal, se le aplica una translacion en el eje X apra dar este efecto
	Junto con un cambio de opacidad, de igual forma para la vertical pero en el eje Y.
*/
