@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Medium-Italic.otf");
  font-weight: 500;
  font-style : italic;
}
@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Demi-Italic.otf");
  font-weight: 600;
  font-style : italic;
}
@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Light-Italic.otf");
  font-weight: 300;
  font-style : italic;
}
@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Bold-Italic.otf");
  font-weight: 700;
  font-style : italic;
}
@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Black-Italic.otf");
  font-weight: 800;
  font-style : italic;
}
@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Demi.otf");
  font-weight: 600;
  font-style : normal;
}
@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Medium.otf");
  font-weight: 500;
  font-style : normal;
}
@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Bold.otf");
  font-weight: 700;
  font-style : normal;
}
@font-face {
  font-family: Aspira2;
  src        : url("fonts/Aspira-Italic-2.otf");
  font-weight: 400;
  font-style : italic;
}
@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Italic.otf");
  font-weight: 400;
  font-style : italic;
}
@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Regular.otf");
  font-weight: 400;
  font-style : normal;
}
@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Light.otf");
  font-weight: 300;
  font-style : normal;
}
@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Heavy.otf");
  font-weight: 800;
  font-style : normal;
}
@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Black.otf");
  font-weight: 900;
  font-style : normal;
}
@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Thin.otf");
  font-weight: 200;
  font-style : normal;
}
@font-face {
  font-family: Aspira;
  src        : url("fonts/Aspira-Thin-Italic.otf");
  font-weight: 200;
  font-style : italic;
}
@font-face {
  font-family: Prototype;
  src        : url("fonts/Prototype.ttf");
  font-weight: 400;
  font-style : normal;
}
@font-face {
  font-family: Prototype;
  src        : url("fonts/Prototype.ttf");
  font-weight: 200;
  font-style : normal;
}

