.mapas {
    width      : 98%;
    max-width  : 550px;
    margin     : auto;
    padding-top: 15px;
    display    : block;
    font-family: 'Aspira';
    #gmap_canvas,
    .mapas_desc {
        margin: 0 0 20px;
        p {
            margin: 8px 0;
        }
    }
    #gmap_canvas {
        width : 100%;
        height: 200px;
        @media screen and (min-width: $ipad_mediaquery) {
            height: 260px;
        }
        @media screen and (min-width: $max_mediaquery) {
            height: 440px;
        }
    }
    @media screen and (min-width: $ipad_mediaquery) {
        max-width: $max_mediaquery;
    }    
}
