.mapas {
    width      : 98%;
    max-width  : 550px;
    margin     : auto;
    display    : block;
    font-family: 'Aspira';
    #gmap_canvas,
    .mapas_desc {
        margin: 0 0 20px;
        p {
            margin: 8px 0;
        }
    }
    #gmap_canvas {
        width : 100%;
        height: 200px;
        @media screen and (min-width: $ipad_mediaquery) {
            height: 260px;
        }
        @media screen and (min-width: $max_mediaquery) {

          height: 440px;
        }
    }
    .mapas_desc {
        text-align: center;
        font-size : 0.8rem;
        color     : #2c3e50;
        width     : 100%;
        cursor    : pointer;
        .something {
            text-transform: uppercase;
            padding       : 1px 10px;
            i {
                color: $azul2_aori_100;
                font-size: 1.6rem;
            }
            .nombre {
                font-weight: 700;
            }
            .direccion,
            .telefono {
                font-weight: 200;
            }
        }
    }
}
