.mision{
  width: 100%;
  background: $azul2_aori_100;
  .mision-center {
      padding: 10px;
      text-align: center;
      box-sizing: border-box;
      object,
      .mision-title {
          vertical-align: middle;
          display: inline-block;
      }
      .mision-title {
          font-family: Aspira;
          font-weight: 200;
          font-style: italic;
          text-transform: uppercase;
          color: white;
          font-size: 5.7vw;
          margin: 0;
          @media screen and (min-width:$ipad_mediaquery) {
              font-size: 4.5vw;
          }
          @media screen and (min-width: $max_mediaquery) {
            font-size: 3.5rem;
          }
      }
      p.descripcion{
        width: 95%;
        margin: 2.5%;
        float: none;
        font-family: Aspira;
        color: white;
      }
      object {
          width: 6%;
          margin: 1% 0;
      }
  }

}
