.porque {
    

        font-family: 'Aspira';
        text-transform: uppercase;
        font-weight: 200;
        margin-bottom:  0  0 10% 0;
        font-size: 1rem;
    p.descripcion
    {
        padding-bottom: 2%;
    }
    object {
        width : 95%;
        margin: 0 2.5%;
    }
}
