.mision-center,
.porque,
.quienes {
    width: 100%;
    max-width: $max_mediaquery;
    margin: 20px auto;
    overflow: auto;
    p.title {
        margin: 0;
        font-size: 5.7vw;
        box-sizing: border-box;
        font-family: Aspira;
        font-weight: 200;
        font-style: italic;
        text-transform: uppercase;
        padding: 10px;
        span {
            font-weight: 700;
            font-style: normal;
        }
    }
}
.quienes {
    p.title {
        text-align: center;
    }

    .imagen {
        width: 50%;
        float: none;
        margin: 0 auto;
        img {
            width: 100%;
        }
    }
}
.circulo,
.imagen {
    float: left;
}
.circulo {
    width: 100%;
    padding: 10px;
    float: none;
    background: $azul_aori;
    box-sizing: border-box;
    .info {
        box-sizing: border-box;
        color: white;
        padding: 10px;
        font-family: Aspira;
        font-size: 1rem;
        font-weight: 200;
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: $max_mediaquery;
        text-align: center;
    }
}
