.servicio {
    display : block;
    overflow: auto;
    width   : 100%;
    &:nth-child(odd) {
        background: $gris2_aori_25;
    }
    &:nth-child(even) {
        background: white;
    }
    .banner_servicio {
        position: relative;
        .seccion_img {
          height: auto;
            width           : 100%;
            max-width       : 1100px;
            margin          : 0 auto;
            background-size : 100%;
            position        : relative;
            background-image: none;
        }
        @media screen and ( min-width: $ipad_mediaquery ) {
            #seccion_1 {
                background-image: url('../images/seccion_servicios/seccion1.png');
            }
            #seccion_2 {
                background-image: url('../images/seccion_servicios/seccion2.png');
            }
            #seccion_3 {
                background-image: url('../images/seccion_servicios/seccion3.png');
            }
            #seccion_4 {
                background-image: url('../images/seccion_servicios/seccion4.png');
            }
            #seccion_5 {
                background-image: url('../images/seccion_servicios/seccion5.png');
            }
            #seccion_6 {
                background-image: url('../images/seccion_servicios/seccion6.png');
            }
            #seccion_7 {
                background-image: url('../images/seccion_servicios/seccion7.png');
            }
            #seccion_8 {
                background-image: url('../images/seccion_servicios/seccion8.png');
            }
            #seccion_9 {
                background-image: url('../images/seccion_servicios/seccion9.png');
            }
        }
        img,
        object {
            width    : 100%;
            max-width: 1100px;
            display  : block;
            margin   : 0 auto;
        }
        .button {
            background    : transparent;
            text-transform: uppercase;
            background    : transparent;
            text-transform: uppercase;
            display       : block;
            text-align    : center;
            margin        : 10px auto;
            width         : 90px;
            @media screen and ( min-width: $ipad_mediaquery) {
                position: absolute;
                bottom  : 18%;
                width   : 10%;
                height  : 8%;
                .texto_boton {
                    font-size: 1.8vw;
                    @media screen and (min-width: $max_mediaquery) {
                        font-size: 20px;
                    }
                }
            }
            .texto_boton {
                font-weight: 300;
                font-size  : 1rem;
                font-family: 'Aspira';
                white-space: nowrap;
            }
        }
        .left_button {
            left  : 14%;
            border: solid 1px #000000;
            cursor: pointer;
        }
        .right_button {
            right : 10%;
            border: solid 1px $gris2_aori_100;
            cursor: pointer;
        }
        .texto {
            font-family: 'Aspira';
            font-size  : 1rem;
            text-align : center;
            .titulo {
                font-size: 2rem;
            }
            @media screen and ( min-width: $ipad_mediaquery ) {
                text-align: left;
                position  : absolute;
                left      : 12.7%;
                top       : 23%;
                width     : 80%;
                display   : block;
                overflow  : auto;
                .titulo {
                    font-size  : 3vw;
                    font-weight: 200;
                    margin     : 0 0 10px;
                    @media screen and (min-width: $max_mediaquery) {
                        font-size: 33.3px;
                    }
                }
                .titulo_right {
                    text-align: right;
                }
                .descripcion {
                    font-size    : 1.2vw;
                    font-weight  : 300;
                    margin-bottom: 0;
                    @media screen and (min-width: $max_mediaquery) {
                        font-size: 13.32px;
                    }
                }
                .descripcion_right {
                    text-align: right;
                }
            }
        }
    }
}


.servicio_desc {
    display : none;
    overflow: auto;
    padding : 10px;
    .valores_grind_ModNeg{
       width: 100%;
        img{
            width: 90%;
            margin: 10px 5% 0;
    }
}
    img {
        margin: 5px 0;
    }
}
#phone:hover {
    fill: $gris3_aori_100;
    rect {
        fill: $gris1_aori_100;
    }
}
.costos_img{
    width: 100%;
    margin: 5px 0;
}
.subtemas {
    display : none;
    overflow: auto;
}
.subfooter {
    text-align : center;
    font-size  : 1.3vw;
    box-sizing : border-box;
    font-family: Prototype;
    font-weight: 200;
    width      : 100%;
    max-width  : $max_mediaquery;
    color      : black;
}
.contenedor_2 {
    .item {
        float: left;
        width: 48%;
    }
}
.contenedor_2_min {
    .item {
        float     : left;
        width     : 38%;
        text-align: center;
    }
}
.modelos {
    position   : relative;
    width      : 98%;
    margin     : 1%;
    max-width  : $max_mediaquery;
    margin     : 0 auto;
    font-family: 'Aspira';
    padding    : 1px;
    box-sizing : border-box;
    background : $gris1_aori_25;
    border-left: solid 30px $azul2_aori_100;
    @media screen and ( min-width: 540px) {
        width : 520px;
        margin: 1% auto;
    }
    @media screen and (min-width: $ipad_mediaquery) {
        width     : 80%;
        margin    : 1% auto;
        min-height: 160px;
    }
    .descripcion{
        font-size: 1.1rem;
    }
    .titulo_subtema > p {
        font-size     : 1rem;
        text-transform: uppercase;
        vertical-align: 50%;
        @media screen and (min-width: $ipad_mediaquery) {
            font-size: 2vw;
        }
        @media screen and (min-width: $max_mediaquery) {
            font-size: 1.6rem;
        }
    }
    ul {
        list-style-position: inside;
        float              : right;
    }
    p {
        padding: 10px 25px;
        margin : 0;
    }
    img.centered {
        width       : 80%;
        display     : block;
        margin-left : auto;
        margin-right: auto;
        padding     : 20px;

    }
    button {
        padding       : 5px 10px;
        border        : solid 1px $gris1_aori_100;
        background    : transparent;
        text-transform: uppercase;
        font-family   : 'Aspira';
        margin        : 10px 25px;
        cursor        : pointer;
    }
    .brackets {
        padding: 5px;
        display: inline;
        p {
            font-size     : 1.3rem;
            text-transform: uppercase;
            text-align    : center;
            font-weight   : bold;
            font-family   : 'Prototype';
        }
    }
    .row {
        width  : 50%;
        display: inline-block;
    }
    .fullwidth {
        width  : 98%;
        display: inline-block;
    }
    .grid {
        position    : relative;
        display     : table;
        margin-left : auto;
        margin-right: auto;
        img {
            max-width: 45%;
            display  : inline-block;
            margin   : 10px;
            @media screen and (max-width: $mobile_mediaquery) {
                 max-width: 80%;
             }
        }
    }
    .grid2 {
        position    : relative;
        display     : table;
        margin-left : auto;
        margin-right: auto;
        img {
            max-width: 30%;
            display  : inline-block;
            margin   : 7px;
            @media screen and (max-width: $max_mediaquery) {
                 max-width: 80%;
             }
        }
        .centered{
             text-align: center;
          }
    }
    .grid3 {
        img {
            max-width: 20%;
            display  : inline-block;
            margin   : 5px;
        }
    }
    a.pdf_descarga {
        text-align: center;
        display   : block;
        text-align: center;
        font-size : 1.6rem;
        &,
        &:active,
        &:hover,
        &:visited {
            color          : black;
            text-decoration: none;
        }
        img {
            margin: 0 auto;
        }
    }
    .brackets:after,
    .brackets:before {
        border  : 2px solid black;
        bottom  : 0;
        content : '';
        position: absolute;
        top     : 0;
        width   : 10%;
    }
    .brackets:after {
        border-left: none;
        right      : 0;
    }
    .brackets:before {
        border-right: none;
        left        : 0;
    }
    .googleImg {
        width         : 10%;
        display       : inline-block;
        vertical-align: middle;
    }
    .foto {
        display: block;
        margin : 0 auto;
    }
}
.infographic {
    min-height : 160px;
    position   : relative;
    width      : 98%;
    margin     : 1%;
    font-family: 'Aspira';
    padding    : 1px;
    box-sizing : border-box;
    @media screen and (min-width: $max_mediaquery) {
        width: 48%;
    }
    .brackets:after,
    .brackets:before {
        border  : 2px solid black;
        bottom  : 0;
        content : '';
        position: absolute;
        top     : 0;
        width   : 10%;
    }
    .brackets {
        padding : 5px;
        position: relative;
        display : inline-block;
        p {
            font-size     : 1.3rem;
            text-transform: uppercase;
            text-align    : center;
        }
    }
    .brackets:after {
        border-left: none;
        right      : 0;
    }
    .brackets:before {
        border-right: none;
        left        : 0;
    }
    img {
        max-width: 100%;
    }
}
.encargados {
    margin    : 25px auto;
    display   : block;
    overflow  : auto;
    position  : relative;
    width     : 98%;
    min-height: 268px;
    text-align: center;
    max-width : $max_mediaquery;
    .descripcion,
    .foto {
        width : 100%;
        margin: 10px 0;
    }
    .descripcion {
        text-align    : center;
        text-transform: uppercase;
        font-family   : 'Aspira';
        font-size     : 1.3rem;
    }
    @media screen and (min-width: $ipad_mediaquery) {
        .foto {
            display       : inline-block;
            vertical-align: middle;
            width         : 30%;
            text-align    : right;
        }
        .descripcion {
            display       : inline-block;
            vertical-align: middle;
            width         : 69%;
        }
    }
}
