.servicio {
    width: 100%;
    &:nth-child(odd) {
        background: white;
    }
    &:nth-child(even) {
        background: $gris2_aori_25;
    }
    object {
        width    : 100%;
        max-width: 1100px;
        display  : block;
        margin   : auto;
    }
}
.servicio_desc {
    display : none;
    overflow: auto;
    padding : 10px;
    img {
        margin: 5px 0;
    }
}
#phone:hover {
    fill: $gris3_aori_100;
    rect {
        fill: $gris1_aori_100;
    }
}
#BTL,
#Franquicia,
#appVR,
#disenoWeb,
#modelos {
    display: none;
}
.modelos {
    min-height : 160px;
    width      : 48%;
    margin     : 1%;
    font-family: 'Aspira';
    padding    : 1px;
    background : $gris1_aori_25;
    box-sizing : border-box;
    .titulo_subtema > p {
        font-size     : 1.6rem;
        text-transform: uppercase;
    }
    ul {
        list-style-position: inside;
        float              : right;
    }
    p {
        padding: 10px 25px;
        margin : 0;
    }
    img {
        max-width: 100%;
    }
    button {
        padding       : 5px 10px;
        border        : solid 1px $gris1_aori_100;
        background    : transparent;
        text-transform: uppercase;
        font-family   : 'Aspira';
        margin        : 10px 25px;
    }
    &:nth-child(odd) {
        border-right: solid 30px $azul2_aori_100;
        text-align  : right;
        float       : left;
    }
    &:nth-child(even) {
        border-left: solid 30px $azul2_aori_100;
        text-align : left;
        float      : right;
    }
    .brackets {
        padding : 5px;
        position: relative;
        display : inline-block;
        p {
            font-size     : 1.3rem;
            text-transform: uppercase;
            text-align: center;
        }
    }
    .grid {
        img {
            max-width: 45%;
            display  : inline-block;
            margin   : 10px;
        }
    }
    .grid2 {
        img {
            max-width: 30%;
            display  : inline-block;
        }
    }
    .brackets:after,
    .brackets:before {
        border  : 2px solid black;
        bottom  : 0;
        content : '';
        position: absolute;
        top     : 0;
        width   : 10%;
    }
    .brackets:after {
        border-left: none;
        right      : 0;
    }
    .brackets:before {
        border-right: none;
        left        : 0;
    }

    .googleImg{
      width: 20%;
      display: inline-block;
      vertical-align: middle;
    }
}
.infographic {
    min-height : 160px;
    width      : 48%;
    margin     : 1%;
    font-family: 'Aspira';
    padding    : 1px;
    box-sizing : border-box;
    float      : right;
    .brackets:after,
    .brackets:before {
        border  : 2px solid black;
        bottom  : 0;
        content : '';
        position: absolute;
        top     : 0;
        width   : 10%;
    }
    .brackets {
        padding : 5px;
        position: relative;
        display : inline-block;
        p {
            font-size     : 1.3rem;
            text-transform: uppercase;
            text-align    : center;
        }
    }
    .brackets:after {
        border-left: none;
        right      : 0;
    }
    .brackets:before {
        border-right: none;
        left        : 0;
    }
}
