.servicio{
  width: 100%;
  &:nth-child(odd){
    background: white;
  }
  &:nth-child(even){
    background: $gris_aori-25;
  }

}
.serv_modelos{
  object{
    width: 100%;
    max-width: 1100px;
    display: block;
    margin: auto;
  }
}
