#unete {
    font-family: 'Aspira';
    text-align : center;
    p {
        width    : 98%;
        margin   : 40px auto;
        max-width: $ipad_mediaquery;
    }
    .unete_bgtitle {
        font-size     : 3rem;
        font-weight   : 200;
        font-style    : italic;
        text-transform: uppercase;
    }
    img.icono {
        width    : 96%;
        margin   : 2%;
        max-width: 700px;
    }
    img.icono_rocket {
        width    : 96%;
        margin   : 2%;
        max-width: 700px;
    }
    .subtitle_sm {
        font-size     : 1rem;
        text-transform: none;
    }
    .logo_sm {
        width : 300px;
        margin: 0 auto;
    }
    .unetetxt {
        font-weight: 400;
        font-size  : 1rem;
    }
    .unete_title {
        font-weight: 400;
        font-size  : 1.6rem;
        font-family: 'Prototype';
    }
    .title-container-image {
        margin: 0 auto 40px;
    }
}
