#valores {
    .descripcion {
        font-family: 'Aspira';
        max-width  : 152px;
        margin     : 0 auto;
        font-weight: 200;
        font-size  : 0.9rem;
    }
    img {
        max-width: 143px;
    }
}
.valores_grid {
    text-align: center;
    padding-bottom: 95px;
    .title {
        font-family: 'Prototype';
        font-size  : 1.4rem;
        
    }
    .col1_ch
    {
        display: table;
    }
        /*.mitad,
        .primera_fila,
        .ultima_fila {
            width   : 100%;
            margin  : 0;
            display : block;
            overflow: auto;
            .item {
                text-align: center;
                width     : 98%;
                margin    : 5px 1%;
                float     : left;
            }
        }
        @media screen and (min-width: $mobile_mediaquery) {
            .primera_fila,
            .ultima_fila {
                .item {
                    width : 48%;
                    margin: 5px 1%;
                }
            }
            .mitad {
                .item {
                    width : 48%;
                    margin: 5px 26%;
                }
            }
        }
        @media screen and (min-width: $ipad_mediaquery) {
            .primera_fila {
                display  : inline-block;
                width    : 50%;
                margin   : 0 25%;
                max-width: $max_mediaquery / 2;
            }
            .mitad {
                width: 33.33%;
                .item {
                    width : 98%;
                    margin: 5px 1%;
                }
            }
            .ultima_fila {
                width: 66.66%;
            }
            .mitad,
            .ultima_fila {
                float: left;
            }
            .segunda_fila {
                width    : 100%;
                max-width: $max_mediaquery;
                display  : block;
                margin   : 0 auto;
                overflow : auto;
            }
            }*/
        }

        .valores {
            .imagen {
                width : 50%;
                float : none;
                margin: 0 auto;
                img {
                    width: 100%;
                }
            }
        }
        .prueba1
        {
            padding-top: 10%;

            padding-bottom: 10%;
        }
