.valores {
  .texto_valores{
    font-family: Aspira;
    text-align: center;
    display: block;
    @media screen and (min-width: $ipad_mediaquery){
      display: none;
    }
  }
  p.valores-title{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
  }
}
