#valores {
    .valores_grid {
        .item {
            float: left;
            &:first-child,
            &:nth-child(2) {
              width: 33.33%;
              padding: 5px;
            }
        }
    }
}
