$gris_aori: #686868;
$azul_aori: #1c4499;
$azul_alternativo_light: #9CA3DA;
$azul_alternativo_solid: #3E4156;
$gris_alternativo:#797979;
$max_mediaquery: 1100px;
$ipad_mediaquery: 768px;
$initial_time: 2.5s;
$interval_time: 1.5s;
$aditional_time: 1s;