$gris_aori: rgba(104, 104, 104, 1);
$gris_aori-75: rgba(104, 104, 104, .75);
$gris_aori-50: rgba(104, 104, 104, .50);
$gris_aori-25: rgba(104, 104, 104, .25);
$azul_aori: #1c4499;
$azul_alternativo_light: #9CA3DA;
$azul_alternativo_solid: #3E4156;
$gris_alternativo:#797979;
$max_mediaquery: 1100px;
$ipad_mediaquery: 768px;
$initial_time: 2.5s;
$interval_time: 1.5s;
$aditional_time: 1s;
