/*
  HERO BANNER
*/
@import "var";
@import "fonts";
@import "navbar";
@import "hero";
@import "quienes";
@import "custom_svg";
@import "porque";
@import "animacion";
@import "nuestra";
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
